@import "../../node_modules/flexboxgrid-sass/flexboxgrid";
@import "animation/_element";
@import "components/_variables";
@import "global/_icon";
@import "components/_fonts";
@import "global/_common";
@import "components/_container";
@import "components/_auth";
@import "components/_home";
@import "components/input";
@import "global/_button";
@import "global/forms";
@import "global/_icon";
@import "components/_card";
@import "components/_easypay";
@import "components/_webservice";
@import "components/_ticket";
@import "components/_transaction";
@import "global/flash_message";
@import "global/ripple";
@import "components/coupon";



a {
  font-family: $fontName;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
  font-size: 13px;
  color: #2979ff;
}