@import "../../node_modules/flexboxgrid-sass/flexboxgrid";
@import "components/variables";
@import "global/icon";
@import "global/forms";
@import "animation/_element";
@import "animation/loading";
@import "components/fonts";
@import "global/common";
@import "components/container";
@import "components/auth";
@import "components/home";
@import "components/input";
@import "global/button";
@import "global/icon";
@import "global/flash_message";
@import "components/card";
@import "components/easypay";
@import "components/webservice";
@import "components/ticket";
@import "components/transaction";
@import "global/ripple";
@import "components/coupon";



a {
  font-family: $fontName;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
  font-size: 13px;
  color: #2979ff;
}