.btn{
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 10px;
}

.btn-success{
  background-color: #2ecc71 !important;
}

.btn-primary{
  background-color: #898989;
  color: #FFFFFF;
}