body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*** Scrollbar ***/
.scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    direction: rtl;
  }

  &::-webkit-scrollbar-track {
    width: 0;
    background-color: $sidebarBgColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    outline: 1px solid slategrey;
    border-radius: 10px;
    transition: .3s;

    &:hover {
      background-color: #777;
      transition: .3s;
    }
  }
}

//Font
.iransans-light{
  font-family: IRANSansLight !important;
}

.iransans{
  font-family: "IRANSans";
}

.persian-num {
  font-family: IRANSansLightPersian !important;
}

//Colors
.color-success{
  color: #00c853;
}

.color-pending{
  color: #ff9800;
}

.color-danger{
  color: #FF1744;
}

.overflow-hidden{
  overflow: hidden;
}


//Purse color
.wallet-color{
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 50%;
}

.color-1{
  background-color: #ffd600;
}

.color-2{
  background-color: #FF5722;
}

.color-3{
  background-color: #2196f3;
}

.color-4{
  background-color: #4CAF50;
}

.color-5{
  background-color: #00BCD4;
}

.color-6{
  background-color: #009688;
}

.color-7{
  background-color: #CDDC39;
}

.color-8{
  background-color: #3f51b5;
}

.color-9{
  background-color: #03A9F4;
}

.color-10{
  background-color: #607d8b;
}

.color-99{
  background-color: #444;
}

//Positions
.cb{
  clear: both;
}

.break{
  display: block;
  margin: 20px 0;
}

.pull-left{
  float: left !important;
}

.pull-right{
  float: right;
}

.ta-right{
  text-align: right !important;
}

.ta-left{
  text-align: left !important;
}

.ta-center{
  text-align: center !important;
}

.dir-ltr{
  direction: ltr !important;
}

.full-width{
  width:100%
}

.hand{
  cursor: pointer !important;
}

.not-allowed{
  cursor: not-allowed !important;
}

.nothing-to-show-text {
  color: #aaa;
  font-size: 12px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 20px;
}

//Pages Header
.nav-page-header{
  .btn{
    float: left;
    margin-top: 15px;
    margin-right: 10px;

    .text {
      color: #fff;
      font-size: 14px;
      display: inline-block;
      margin-top: -3px;
      margin-right: 8px;
      vertical-align: middle;
    }

    .icon-add-circle{
      display: inline-block;
      font-size: 20px;
      &:before{
        content: $addCircleIcon;
        font-family:'zarinpal';
        color: #fff;
        vertical-align: middle;
        top: 3px;
      }
    }

    .icon-request-money{
      display: inline-block;
      font-size: 20px;
      &:before{
        content: $iconRequestMoney;
        font-family:'zarinpal';
        color: #fff;
        vertical-align: middle;
        top: 3px;
      }
    }
  }
}

.warning-box-message{
  border: 1px solid #ddd;
  border-radius: $boxBorderRadiusSize;

  .nav-title-box{
    display: inline-block;
    position: relative;
    top: -12px;
    margin-right: 20px;
    background-color: #F2F3F5;

    .icon-warning{
      &:before{
        content: $iconWarning;
        font-style: normal;
        color: #424242;
        font-size: 20px !important;
        position: relative;
        top: 2px;
      }
    }

    .title {
      margin-right: 7px;
      position: relative;
      top: -2px;
    }
  }

  .body{
    padding: 10px 25px;
    margin-top: -14px;
    font-size: 14px;
    color: #666;
  }
}

//Boxes
.no-margin{
  margin: 0 !important;
  padding: 0 !important;
}

.no-right-margin{
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.no-left-margin{
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}

.section{
  margin: 10px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p{
    margin: 0;
  }

  .code{
    padding: 5px;
    direction: ltr;
    background-color: #eee;
    text-align: left;
    margin:5px 0;
  }

  .box {
    background-color: #fefefe;
    box-shadow: $boxShadow;
    border-radius: $boxBorderRadiusSize;
    transition: $animateTime;

    &:hover{
      box-shadow: $boxHoverShadow;
      transition: $animateTime;
    }

    .header {
      background-color: #f8f9fa;
      border-radius: $boxBorderRadiusSize $boxBorderRadiusSize 0 0;
      padding: 0 15px;
      height: 50px;

      .right-box{
        p{
          margin-top: 9px;
          .header-title{
            font-size: 13px;
            color: #777;
            display: inline-block;
            margin-right: 10px;
            height: 22px;
            overflow: hidden;
            width: 70%;
            position: relative;
            top: 5px;
          }
        }
      }

      .left-box{
        .icon-more{
          float: left;
          margin-top: 16px;
          display: inline-block;
          cursor: pointer;
          font-size: 20px;
          margin-left: 3px;
          &:before{
            content: $moreIcon;
            font-family:'zarinpal';
            color: #777777;
          }
        }
      }

      .drop-down {
        background-color: #fff;
        color: $itemColor !important;
        display: inline-block;
        position: relative;
        top: 7px;
        left: -16px;
        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);;
        border-radius: $dropDownBorderRadius;
        z-index: 2;

        .close-drop-down {
          text-align: left;
          padding: 4px 0 !important;
          cursor: pointer;
          &:before {
            content: $iconCloseDropDown;
            font-family: 'zarinpal';
            color: $closeDropDownColor !important;
          }
        }

        .drop-down-item {
          font-style: normal;
          font-size: 13px;
          display: block;
          padding: 8px 15px;
          transition: $animateTime;
          cursor: pointer;

          &:before {
            color: $itemIconColor;
            padding-left: 10px;
            font-size: 14px;
            font-family: 'zarinpal';
            position: relative;
            display: inline-block;
            top: 3px;
          }
        }

        .drop-down-item:hover {
          background-color: #F2F2F2;
          transition: $animateTime;
        }

        .add-fund {
          &:before {
            content: $iconAddFund;
          }
        }
        .withdraw {
          &:before {
            content: $iconWithdraw;
          }
        }
        .report {
          color: $labelColor !important;
          &:before {
            content: $iconReport;
          }
        }
        .ptop {
          &:before {
            content: $iconPtop;
          }
        }

        .transaction {
          &:before {
            content: $iconTransaction;

          }
        }

        .edit{
          &:before{
            content: $iconEdit;
          }
        }

        .delete{
          &:before{
            content: $iconDelete;
          }
        }

      }
    }

    .body{
      padding: 15px;
      color: $labelColor;
      font-size: 13px;

      .box-row{
        border-bottom: 1px solid $boxBorderColor;
        padding: 10px;

        &:last-child {
          border-bottom: 0 !important;
        }
      }

      .box-row:last-child{
        border-bottom: 0;
      }

    }

    .footer{
      border-top: 1px solid $boxBorderColor;
    }
  }

  .nav-buttons{
    margin-bottom: 10px;
    padding: 20px 10px 8px 30px;
  }
}

.box-footer{
  background-color: #f8f9fa;
  text-align: center;
  border-radius: 0 0 5px 5px;

  .option{
    padding: 8px 0;
    margin: 0 10px;
    display: inline-block;
    color: #757575;
    font-size: 13px;
    cursor: pointer;

    &:before{
      font-family: 'zarinpal';
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      color: #757575;
    }
  }
  .transaction{
    &:before{
      content: $iconTransaction;
    }
  }

  .edit{
    &:before{
      content: $iconEdit;
    }
  }

  .delete{
    &:before{
      content: $iconDelete;
    }
  }

  .more{
    &:before{
      content: $moreIcon;
    }
  }

  .details{
    &:before{
      content: $iconDetails;
    }
  }

  .edit-bank-account{
    &:before{
      content: $iconEdit;
    }
  }
}

.tag{
  padding: 5px 10px;
  border-radius: 30px;
  background-color: #f6f6f6;
  font-size: 13px;
  color: #757575;
  margin: 5px;
  display: inline-block;
}

.tag-active{
  cursor: default;
  &:before{
    content: $activeTagIcon;
    font-family: 'zarinpal';
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #00c853;
    border-radius: 50%;
    font-size: 17px;
  }
}

.tag-inactive{
  cursor: pointer;

  &:before{
    content: $activeTagIcon;
    font-family: 'zarinpal';
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #8b8b8b;
    border-radius: 50%;
    font-size: 17px;
  }

}

.header-link{
  font-size: 13px;
  color: #2962ff;
  display: inline-block;
  direction: ltr !important;
  vertical-align: middle;
  cursor: pointer;
  float: left;
  text-align: left !important;
  display: inline-block;
  width: 70%;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 16px;
}

.green-small-circle{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid #0cca5b;
  border-radius: 50%;
  background-color: #adeac8;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.label-group{
  border: 1px solid $labelGroupBorderColor;
  border-radius: 3px;
  width: 220px;
  text-align: center;

  .icon{
    border-right: 1px solid $labelGroupBorderColor;
    display: inline-block;
    padding: 7px 10px;
    float: left;
    background-color: #f8f9fa;
    cursor: pointer;
    width: 20px !important;

    &:before{
      content: $iconCopy;
      font-family: 'zarinpal';
      color: $labelColor !important;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .text{
    color: $labelColor;
    display: inline-block;
    padding: 6px;
    font-size: 13px;
    overflow: hidden;
    height: 32px;
  }
}

.label{
  color: $labelColor;
  font-size: 13px;
}

.value{
  color: $labelColor;
  font-size: 13px;
}

.text-value{
  color: $labelColor;
  font-size: 13px;
}

.nav-page-header{
  p{
    padding: 0 10px;
  }

  .page-title{
    color: #666666;
    font-size: 16px;
    margin-bottom: -9px;
  }

  .page-description{
    color: #8e8e8e;
    font-size: 12px;
  }
}

.warning-box-message{
  .nav-title-box{
    .icon-warning{
      &:before{
        content: $iconWarning;
        font-style: normal;
        color: #424242;
        font-size: 13px;
      }
    }
  }

  .body{

  }
}

.txt-nothing-to-show{
  color: #aaa;
  margin: 50px 0;
  font-size: 13px;
  display: inline-block;
}

//MODAL
.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content-father{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  z-index: 1200;
  overflow-y: auto;


  .icon-big-close{
    font-size: 40px;

    &:before {
      content: $iconClose;
      font-family: 'zarinpal';
      display: inline-block;
      margin-top: -2px;
      color: #ffffff;
      padding: 3px;
      float: left;
      position: absolute;
      top: 0;
      left: 0;
      transition: .2s;
    }

    &:hover {
      font-size: 43px !important;
      transition: .2s;
    }
  }

}

.modal-content {
  padding: 0;
  border-radius: $boxBorderRadiusSize;
  top: 0;
  margin-top: 30px;

  /*Header*/
  .header {
    text-align: right;
    font-size: 13px;
    background-color: #4a5459 !important;
    padding: 14px 20px;
    border-radius:4px 4px 0 0;
    .title{
      color: #FFFFFF;
    }

    .icon-close {
      &:before {
        content: $iconClose;
        font-family: 'zarinpal';
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        color: #ffffff;
        background-color: #5c656a;
        padding: 3px;
        font-size: 20px;
        border-radius: 50%;
        float: left;
      }
    }
  }

  /*BODY*/
  .body {
    background-color: #fff;
    border-radius: 0 0 5px 5px;

    .list{
      .row{
        padding-bottom: 10px;
        margin-top: 5px;
        border-bottom: 1px solid #eee;

        &:last-child{
          border-bottom:none;
        }
      }
    }

    .contains {
      padding: 20px;
    }

    .nav-rows{
      padding: 20px;

      .row {
        border-bottom: 1px solid #f5f5f5;
        padding: 20px 0;

        .value {
          font-size: 14px;
        }
      }

      .row:last-child {
        border-bottom: none;
      }

    }
  }

  /*FOOTER*/
  .footer{
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 0 0 4px 4px;
  }
}

.modal-description{
  font-size: 13px;
  text-align: right;
  margin: 0 0 5px 0;
  color: $labelColor;
}


//Confirm
.confirm{
  .content{
    color: $labelColor;
    font-size: 13px;
  }
  .buttons{
    margin: 20px 0 0 0;

    .btn{
      margin-right: 10px;
    }
  }
}

//Animate of modal
.fade-in{
  animation: fadeIn 0.2s;
}

.fade-out{
  animation: fadeOut 0.3s;
}

.zoom-in {
  animation: zoomIn 0.3s;
}

.zoom-out {
  animation: zoomOut .1s;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

//Query media
//LG
@media (min-width: $largeWidth) {
  .hidden-lg {
    display: none !important;
  }

  .show-lg{
    display: block;
  }
}


//MD
@media (min-width: $mediumWidth) {
  .hidden-md {
    display: none !important;
  }

  .show-md{
    display: block;
  }
}


//SM
@media (min-width: $smallWidth) {
  .hidden-md {
    display: none !important;
  }

  .show-md{
    display: block;
  }
}

//XS
@media (min-width: $mobileSize) {
  .hidden-md {
    display: none !important;
  }

  .show-md{
    display: block;
  }
}

//File Drag and drop
.file-zone{
  transition: $animateTime;
  border: 1px dashed #babfc2;
  border-radius: $boxBorderRadiusSize;
  padding-top: 20px;
  width: 100%;
  color: #c2c8cc;

  p{
    font-size: 16px;
  }

  .upload-icon{
    &:before{
      content: $iconCloud;
      font-family: 'zarinpal';
      color: #c2c8cc;
      display: inline-block;
      margin: 12px;
      font-size: 40px;
    }
  }

  .nav-file-input{
    transition: $animateTime;

    span {
      position: relative !important;
      top: -19px !important;
      font-size: 16px;
    }

    #attach{
      padding: 0 !important;
      margin-right: 10px;
      cursor: pointer;
      color: #2962ff;
      font-size: 13px;
      border: none;
      position: relative;
      width: 80px;
      height: 30px;
      outline: none;
      overflow: hidden;
      top: -6px;
      right: -10px;

      &:before{
        content: 'انتخاب کنید';
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;;
        padding: 3px;
        color: #2962ff;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
      }
    }

    #attach::-webkit-file-upload-button{
      visibility: hidden;
    }

    .file-name{
      overflow: hidden;
      height: 26px;
      font-size: 13px;
    }
  }
}

.file-zone-hover{
  transition: $animateTime;
  background-color: #fefcf1;
  border:1px dashed #ffd600;
  z-index: 3;
  .ta-center{
    .upload-icon{
      &:before{
        color: #ffd600;
      }
    }
  }

  .nav-texts{
    transition: $animateTime;
    opacity: 0;
  }
}


//Cards
.cards{
  .bank-logo{
    width: 19px;
    position: relative;
    top: 3px;
    height: 19px;
    margin-left: 5px;
  }

  .bank-name{
    position: relative;
    top: -4px;
  }
}