@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

.input-icon {
  float: right;
  width: 0;
  position: relative;
  top: 13px;
  right: 8px;
  z-index: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="color"],
input[type="range"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  font-family: IRANSansLightPersian;
  font-weight: 200;
  font-size: 13px;
  padding: 6px 14px 5px 14px;
  border-radius: 5px;
  outline: none;
  direction: rtl;
  text-align: right;
  border: 1px solid #cecece;
  box-sizing: border-box !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;

  @include placeholder {
    color: #676767;
  }

  &.error {
    border-color: #ff1744;
  }

  &.success {
    border-color: #2ecc71;
  }

  &:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
    border: 1px solid #a1a1a1;
  }

  &[class^="icon-"],
  &[class*=" icon-"] {
    padding-right: 30px;
  }

  &:after {
    position: absolute;
    content: '';
    color: #000000;
  }

  &.gold {
    border-color: #ffd600;
  }
}

input[type="radio"] {
  display: none;

  + label {
    font-family: $fontName;
    font-weight: 200;
    font-size: 13px;
    color: #424242;
    user-select: none;
    cursor: pointer;

    span {
      background-color: #ffffff;
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 2px solid #757575;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      margin: -1px 0 0 14px;
      vertical-align: middle;

      &:after {
        background-color: inherit;
        position: absolute;
        border-radius: 50%;
        content: '';
        width: 10px;
        height: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &:checked {
    + label {
      span {
        border: 2px solid #ffd600;

        &:after {
          background-color: #ffd600;
        }
      }
    }
  }
}

.circle-checkbox {
  border-radius: 50% !important;
}

input[type="checkbox"] {
  display: none;

  + label {
    font-family: $fontName;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
    font-size: 13px;
    color: #424242;
    user-select: none;
    cursor: pointer;

    span {
      background-color: #ffffff;
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 2px solid #757575;
      border-radius: 3px;
      cursor: pointer;
      position: relative;
      margin: -1px 0 0 14px;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }

  &:checked {
    + label {
      span {
        background-color: #ffd600;
        border: 2px solid #ffd600;

        &:after,
        &:before {
          background-color: #ffffff;
          position: absolute;
          border-radius: 1px;
          content: '';
        }

        &:after {
          width: 10px;
          height: 2px;
          transform: rotate(-45deg);
          top: 6px;
          left: 4px;
        }

        &:before {
          width: 6px;
          height: 2px;
          transform: rotate(45deg);
          top: 8px;
          left: 1px;
        }
      }
    }
  }
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
a.btn {
  background-color: #e2e2e2;
  font-family: $fontName;
  font-weight: 200;
  font-size: 14px;
  border-radius: 30px;
  border: inherit;
  color: #898989;
  padding: 6px 17px;
  outline: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.10);
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:active, &:hover {
    background-color: #d8d8d8;
  }

  &.default {
    background-color: #898989;
    color: #ffffff;

    &:active, &:hover {
      background-color: #6b6b6b;
    }
  }

  &.gold {
    background-color: #ffd600;
    color: #000000;

    &:active, &:hover {
      background-color: #eec803;
    }
  }

  &.success {
    background-color: #2ecc71;
    color: #ffffff !important;

    &:active, &:hover {
      background-color: #0abe57;
    }
  }

  &.error {
    background-color: #ff1744;
    color: #fff;

    &:active, &:hover {
      background-color: #ff171a;
    }
  }

  &.simple {
    background-color: #fff;
    color: #000;


    &:active, &:hover {
      background-color: #fafafa;
    }
  }

  &.info {
    background-color: #2979ff;
    color: #ffffff;

    &:active, &:hover {
      background-color: #0a66ff;
    }
  }

  &.excel {
    background-color: #00592D;
    color: #ffffff !important;

    &:active, &:hover {
      background-color: rgba(0, 89, 45, 0.88) !important;
    }
  }

  &.rounded {
    border-radius: 50px;
  }

  &.floating {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  &.full {
    width: 100%;
  }

  .material-spinner {
    margin: 0px 10px -10px -10px;
  }
}

ul.select_item {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
  display: block;

  li {
    background-color: #ffffff;
    border: #9e9e9e solid 1px;
    border-left: none;
    height: 32px;
    display: inline-block;
    white-space: nowrap;
    font-size: 13px;
    color: #898989;
    padding: 5px 12px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    overflow: hidden;

    &:first-child {
      border-radius: 0 $boxBorderRadiusSize $boxBorderRadiusSize 0;
    }
    &:last-child {
      border-left: #9e9e9e solid 1px;
      border-radius: $boxBorderRadiusSize 0 0 $boxBorderRadiusSize;
    }
    &:hover {
      background-color: #f3f3f3;
    }
    &.active {
      background-color: #9e9e9e;
      color: #ffffff;
      cursor: default;
    }
  }
}

ul.dropdown {
  cursor: default;
  position: relative;
  background-color: #ffffff;
  font-family: $fontName;
  font-weight: 200;
  font-size: 13px;
  height: 35px;
  margin: 0;
  padding: 7px 16px 7px 16px;
  border-radius: 5px;
  outline: none;
  direction: rtl;
  text-align: right;
  border: 1px solid #cecece;
  box-sizing: border-box;
  list-style-type: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus {
    border: 1px solid #888;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
  }

  .title {
    white-space: nowrap;
    position: relative;
    top: -11px;
    margin: 10px;
  }

  .wallet-color {
    margin-left: 10px;
    top: 3px;
  }

  .indent {
    padding-right: 30px;
  }

  > ul > li .wallet-color {
    top: 5px;
  }

  .purse-selectbox-balance {
    margin-left: 10px;
  }

  .disable {
    background-color: #bbbbbb;
    color: #000000 !important;
    opacity: 1;
    pointer-events: none;
    border-radius: 0 !important;
    padding-right: 10px;
  }

  .dropdown-item-row {
    margin: 0 !important;
  }

  > span {
    color: #424242;
  }

  span.arrow {
    position: absolute;
    display: inline-block;
    left: -11px;
    top: 2px;

    &:before {
      content: $itemArrow;
      font-family: 'zarinpal';
      font-style: normal;
      color: #424242;
      font-size: 20px;
      margin-right: 10px !important;
    }
  }

  > ul {
    background-color: #ffffff;
    position: absolute;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 0;
    width: 100%;
    left: 0px;
    margin-bottom: 39px;
    top: 42px;
    max-height: 300px !important;
    overflow: auto;
    z-index: 1;
    margin-top: -7px;

    li {
      height: 34px;
      padding: 5px 13px 5px 0;
      vertical-align: middle;
      box-sizing: border-box;
      transition: $animateTime;
      cursor: default;
      white-space: nowrap;
      span {

      }

      &:hover {
        background-color: #f3f3f3;
        transition: $animateTime;
      }

    }
  }
}

//Input group
.input-group {
  background-color: #f8f9fa;
  border: 1px solid #CECECE;
  border-radius: 5px;
  width: 100%;
  .first-label {
    font-size: 12px;
    color: #676767;
    padding: 7px 15px !important;
    border-radius: 5px 0 0 5px;
    direction: ltr;
  }

  .input {
    border-radius: 0 5px 5px 0;
    border: none !important;
    margin: 0 !important;
  }

  .input:focus {
    box-shadow: none !important;
  }

  .last-label {
    font-size: 12px;
    color: #676767;
    padding: 7px 15px !important;
    border-radius: 0 5px 5px 0;
    direction: ltr;
  }
}

/***Switch***/
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 19px;

  input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    top: 2px;
    left: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #FFD600;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #FFD600;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.switch-label {
  position: relative;
  top: -5px;
  margin-left: 40px;
}