$iconPrev: $icon-zp-arrow-right;
$iconQrCode: $icon-zp-qr-code;
$moreIcon: $icon-zp-more-vert;
$iconCopy: $icon-zp-copy;
$iconEdit: $icon-zp-edit;
$iconDetails: $icon-zp-receipt;
$iconCloud: $icon-zp-upload;
$iconDelete: $icon-zp-delete;
$activeTagIcon: $icon-zp-check-circle;
$pendingCardIcon: $icon-zp-report;
$inActiveCardIcon: $icon-zp-close;
$inActiveTagIcon: $icon-zp-error;
$movingTransIcon: $icon-zp-transaction-reconciliation;
$inputTransIcon: $icon-zp-transaction-trend-up;
$outputTransIcon: $icon-zp-transaction-trend-down;
$chartIcon: $icon-zp-notification-outline;
$iconNotification: $icon-zp-notification-outline;
$addCircleIcon: $icon-zp-add-circle;
$iconAddFund: $icon-zp-add-fund;
$iconWithdraw: $icon-zp-reconciliation;
$iconReport: $icon-zp-calendar;
$iconPtop: $icon-zp-p2p;
$iconTransaction: $icon-zp-transaction;
$iconCloseDropDown: $icon-zp-close;


//Container
$iconWarning: $icon-zp-error;
$itemArrow: $icon-zp-arrow-down;
$iconMobileSidebarCollapse: $icon-zp-close;
$iconMenu:$icon-zp-menu;
$iconLogout: $icon-zp-sign-out;
$iconReload: $icon-zp-refresh;
$iconSetting: $icon-zp-setting;
$iconBackArrow:$icon-zp-close;
$iconZarinpal: $icon-zp-zarinpal;
$iconPerson: $icon-zp-person;


//Transactions
$iconForward:$icon-zp-arrow-left;
$internalTransactionIcon:$icon-zp-transaction-reconciliation;
$pendingTransactionIcon:$icon-zp-transaction-reconciliation;
$iconSearch:$icon-zp-search;
$iconPrinter: $icon-zp-print;
$iconTick: $icon-zp-verified;
$iconClose: $icon-zp-close;

//Tickets
$iconAttach:$icon-zp-attach;


//Easypay
$homeIcon: $icon-zp-home;
$purseIcon: $icon-zp-wallet;
$amountIcon: $icon-zp-reconciliation;
$globeIcon: $icon-zp-world;


//Webservice
$homeIcon: $icon-zp-home;
$mobileIcon: $icon-zp-mobile;
$purseIcon: $icon-zp-wallet;
$webserviceCatIcon: $icon-zp-arrow-down;


//User
$addIcon: $icon-zp-add;
$iconPhone:$icon-zp-telephone;
$iconPostalCode:$icon-zp-telephone;
$iconLocation:$icon-zp-location;