$moreIcon: $icon-ic_more_vert_black_48px;
$iconCopy: $icon-ic_notifications_black_48px;
$iconEdit: $icon-ic_notifications_black_48px;
$iconDetails: $icon-ic_notifications_black_48px;
$iconCloud: $icon-ic_notifications_black_48px;
$iconEditBank: $icon-ic_notifications_black_48px;
$iconDelete: $icon-ic_notifications_black_48px;
$activeTagIcon: $icon-ic_check_circle_black_48px;
$inActiveTagIcon: $icon-ic_notifications_black_48px;


$movingTransIcon: $icon-ic_notifications_black_48px;
$inputTransIcon: $icon-ic_notifications_black_48px;
$outputTransIcon: $icon-ic_notifications_black_48px;
$chartIcon: $icon-ic_notifications_black_48px;
$addCircleIcon: $icon-ic_add_circle_black_48px;
$moreIcon: $icon-ic_more_vert_black_48px;
$iconAddFund: $icon-ic_keyboard_arrow_down_black_48px;
$iconTransaction: $icon-ic_keyboard_arrow_down_black_48px;
$iconCloseDropDown: $icon-ic_arrow_forward_black_48px;


//Container
$itemArrow: $icon-ic_keyboard_arrow_down_black_48px;
$iconMobileSidebarCollapse: $icon-ic_close_black_48px;
$iconMenu:$icon-ic_menu_black_48px;
$iconLogout: $icon-ic_exit_to_app_black_48px;
$iconBackArrow:$icon-ic_arrow_forward_black_48px;

//Transactions
$iconForward:$icon-ic_keyboard_arrow_left_black_48px;
$internalTransactionIcon:$icon-ic_arrow_forward_black_48px;
$pendingTransactionIcon:$icon-ic_arrow_forward_black_48px;
$iconSearch:$icon-ic_search_black_48px;

//Tickets
$iconAttach:$icon-ic_search_black_48px;