$moreIcon: $icon-ic_more_vert_black_48px;
$iconCopy: $icon_zp-copy;
$iconEdit: $icon-ic_notifications_black_48px;
$iconDetails: $icon-ic_notifications_black_48px;
$iconCloud: $icon_zp-upload;
$iconEditBank: $icon-ic_notifications_black_48px;
$iconDelete: $icon_zp-delete;
$activeTagIcon: $icon_zp-check-circle;
$inActiveTagIcon: $icon-ic_notifications_black_48px;


$movingTransIcon: $icon_zp-transaction_reconciliation;
$inputTransIcon: $icon_zp-transaction_trend_down;
$outputTransIcon: $icon_zp-transaction_trend_up;
$chartIcon: $icon-ic_notifications_black_48px;
$addCircleIcon: $icon_zp-add-circle;
$moreIcon: $icon-ic_more_vert_black_48px;
$iconAddFund: $icon-ic_keyboard_arrow_down_black_48px;
$iconTransaction: $icon-ic_keyboard_arrow_down_black_48px;
$iconCloseDropDown: $icon-zp-close;


//Container
$itemArrow: $icon-ic_keyboard_arrow_down_black_48px;
$iconMobileSidebarCollapse: $icon_zp-close;
$iconMenu:$icon-ic_menu_black_48px;
$iconLogout: $icon-ic_exit_to_app_black_48px;
$iconBackArrow:$icon_zp-arrow-left;
$iconZarinpal: $icon-zp-zarinpal;


//Transactions
$iconForward:$icon-zp-arrow-left;
$internalTransactionIcon:$icon-ic_arrow_forward_black_48px;
$pendingTransactionIcon:$icon-ic_arrow_forward_black_48px;
$iconSearch:$icon-zp-add-circle;

$iconPrinter: $icon-ic_search_black_48px;
$iconTick: $icon-zp-check-circle;
$iconClose: $icon-zp-close;

//Tickets
$iconAttach:$icon_zp-attach;


//Easypay
$homeIcon: $icon-zp-home;
$purseIcon: $icon_zp-wallet;
$amountIcon: $icon-zp-reconciliation;
$globeIcon: $icon_zp-globe;


//Webservice
$ipIcon: $icon-zp-globe;
$homeIcon: $icon-zp-home;
$earthIcon: $icon-zp-globe;
$mobileIcon: $iconAttach;
$purseIcon: $icon-zp-wallet;
$webserviceCatIcon: $icon-zp-open;
