.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-50 {
  margin: 50px;
}

//Margin-top
.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-45 {
  margin-top: 45px;
}

.m-t-50 {
  margin-top: 50px;
}

//Margin-right
.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-r-45 {
  margin-right: 45px;
}

.m-r-50 {
  margin-right: 50px;
}

//Margin-bottom
.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.m-b-50 {
  margin-bottom: 50px;
}

//Margin-left
.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-35 {
  margin-left: 35px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-l-45 {
  margin-left: 45px;
}

.m-l-50 {
  margin-left: 50px;
}

/**------------------
        Padding
-------------------- */
.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

//Padding-top
.p-t-5 {
  margin-top: 5px;
}

.p-t-10 {
  margin-top: 10px;
}

.p-t-15 {
  margin-top: 15px;
}

.p-t-20 {
  margin-top: 20px;
}

.p-t-25 {
  margin-top: 25px;
}

.p-t-30 {
  margin-top: 30px;
}

.p-t-35 {
  margin-top: 35px;
}

.p-t-40 {
  margin-top: 40px;
}

.p-t-45 {
  margin-top: 45px;
}

.p-t-50 {
  margin-top: 50px;
}

//Padding-right
.p-r-5 {
  margin-right: 5px;
}

.p-r-10 {
  margin-right: 10px;
}

.p-r-15 {
  margin-right: 15px;
}

.p-r-20 {
  margin-right: 20px;
}

.p-r-25 {
  margin-right: 25px;
}

.p-r-30 {
  margin-right: 30px;
}

.p-r-35 {
  margin-right: 35px;
}

.p-r-40 {
  margin-right: 40px;
}

.p-r-45 {
  margin-right: 45px;
}

.p-r-50 {
  margin-right: 50px;
}

//Padding-bottom
.p-b-5 {
  margin-bottom: 5px;
}

.p-b-10 {
  margin-bottom: 10px;
}

.p-b-15 {
  margin-bottom: 15px;
}

.p-b-20 {
  margin-bottom: 20px;
}

.p-b-25 {
  margin-bottom: 25px;
}

.p-b-30 {
  margin-bottom: 30px;
}

.p-b-35 {
  margin-bottom: 35px;
}

.p-b-40 {
  margin-bottom: 40px;
}

.p-b-45 {
  margin-bottom: 45px;
}

.p-b-50 {
  margin-bottom: 50px;
}

//Padding-left
.p-l-5 {
  margin-left: 5px;
}

.p-l-10 {
  margin-left: 10px;
}

.p-l-15 {
  margin-left: 15px;
}

.p-l-20 {
  margin-left: 20px;
}

.p-l-25 {
  margin-left: 25px;
}

.p-l-30 {
  margin-left: 30px;
}

.p-l-35 {
  margin-left: 35px;
}

.p-l-40 {
  margin-left: 40px;
}

.p-l-45 {
  margin-left: 45px;
}

.p-l-50 {
  margin-left: 50px;
}

/**------------------
      Font size
-------------------- */
.f-s-10 {
  font-size: 10px;
}

.f-s-11 {
  font-size: 11px;
}

.f-s-12 {
  font-size: 12px;
}

.f-s-13 {
  font-size: 13px;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-15 {
  font-size: 15px;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-17 {
  font-size: 17px;
}

.f-s-18 {
  font-size: 18px;
}

.f-s-19 {
  font-size: 19px;
}

.f-s-20 {
  font-size: 20px;
}

.f-s-25 {
  font-size: 25px;
}

.f-s-30 {
  font-size: 30px;
}

.f-s-35 {
  font-size: 35px;
}

.f-s-40 {
  font-size: 40px;
}

.f-s-45 {
  font-size: 45px;
}

.f-s-50 {
  font-size: 50px;
}

/**------------------
      Colors
-------------------- */
.text-success {
  color: #0abe57;
}

.text-danger {
  color: #ff1744;
}

.text-info {
  color: #0a66ff;
}

.text-black {
  color: #333;
}

.text-help {
  font-size: 12px;
}

/**------------------
    Positions
-------------------- */
.top-0 {
  top: 0px !important;

}

.flag-icon {
  height: 11px;
  border-radius: 2px;
  -webkit-filter: drop-shadow(0px 0px 2px #cccccc);
  filter: drop-shadow(0px 0px 2px #cccccc);
}
