
$from: 1;
$to: 50;
$minFontSize: 10;
$maxFontSize: 20;

/**------------------
      Font size
-------------------- */
@for $i from $minFontSize through $maxFontSize {
  .f-s-#{$i} {
    font-size: 10px + $i
  }
}
/**------------------
Padding
-------------------- */
@for $i from $from through $to {
  .p-#{$i} {
    padding: 0px + $i
  }
}
/**------------------
Padding-left
-------------------- */
@for $i from $from through $to {
  .p-l-#{$i} {
    padding-left: 0px + $i
  }
}
/**------------------
Padding-right
-------------------- */
@for $i from $from through $to {
  .p-r-#{$i} {
    padding-right: 0px + $i
  }
}
/**------------------
Padding-top
-------------------- */
@for $i from $from through $to {
  .p-t-#{$i} {
    padding-top: 0px + $i
  }
}
/**------------------
 Padding-bottom
 -------------------- */

@for $i from $from through $to {
  .p-b-#{$i} {
    padding-bottom: 0px + $i
  }
}
/**------------------
margin
-------------------- */

@for $i from $from through $to {
  .m-#{$i} {
    margin: 0px + $i
  }
}
/**------------------
margin-left
-------------------- */

@for $i from $from through $to {
  .m-l-#{$i} {
    margin-left: 0px + $i
  }
}
/**------------------
margin-right
-------------------- */
@for $i from $from through $to {
  .m-r-#{$i} {
    margin-right: 0px + $i
  }
}
/**------------------
margin-top
-------------------- */
@for $i from $from through $to {
  .m-t-#{$i} {
    margin-top: 0px + $i
  }
}
/**------------------
margin-bottom
-------------------- */
@for $i from $from through $to {
  .m-b-#{$i} {
    padding-bottom: 0px + $i
  }
}
/**------------------
      Colors
-------------------- */
.text-success {
  color: #0abe57;
}

.text-danger {
  color: #ff1744;
}

.text-info {
  color: #0a66ff;
}

.text-black {
  color: #333;
}

.text-help {
  font-size: 12px;
}

/**------------------
    Positions
-------------------- */
.top-0 {
  top: 0px !important;

}