.auth-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;

  > div {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
  }

  .logo {
    text-align: center;
    margin-bottom: 12px;
    img {
      width: 47px;
      height: 47px;
    }

    p {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: -6px 0 0 0;
      color: #424242;
    }
  }
}

form {
  > div {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .forgot {
    text-align: left;
  }
  .center {
    font-family: $fontName;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
    font-size: 13px;
    color: #000000;
    text-align: center;
  }
}