.auth-box {
  max-width: 375px !important;
  margin-top: 100px;

  .box-top-links {
    .link {
      font-size: 13px;
      color: #8b8b8c;
      margin-right: -7px;
      cursor: pointer;
    }

    .icon-prev {
      &:before {
        content: $iconPrev;
        font-family: 'zarinpal';
        color: #424242;
        font-size: 16px;
        position: relative;
        top: 2px;
        right: -7px;
      }
    }
  }

  .box {
    padding: 25px;
    font-size: 13px !important;
    color: $labelColor;
    overflow: hidden;

    .row-margin {
      input {
        margin: 5px 0;
      }

      .half-input {
        width: 99%;
      }
    }

    .top-xs {
      .zp-icon {
        margin-right: 5px;
        display: inline-block;
        margin-top: -6px;
        &:after {
          content: $iconZarinpal;
          font-family: 'zarinpal';
          color: #FFD600;
          font-size: 37px;
        }
      }

      .zp-title {
        font-size: 18px;
        margin-right: 10px;
        margin-top: -3px;
      }
    }

    .middle-xs {
      .body-messages {
        margin-top: 6px !important;
        margin-bottom: 25px !important;

        .user-avatar {
          border: 1px solid #cecece;
          border-radius: 50%;
          width: 40px;
          margin: 6px 8px 0 0;
        }



        .mobile-number {
          color: #2979ff;
          margin: 0 2px;
          display: inline-block;
        }
        .inline-block {
          display: inline-block;
          width: 100%;
        }

        .change-mobile {
          display: inline-block;
          margin-right: 5px;
          color: #2979ff;
          cursor: pointer;
        }
      }
      p {
        font-size: 18px !important;
      }

      .nav-user-not-registered {
        font-size: 13px;
        padding: 10px;
        background-color: rgba(255, 214, 0, 0.16);
        border: 1px solid #FFD600;
        text-align: right;
        margin: 20px 0;
        width: 100%;
        cursor: pointer;

        .close {
          float: left;
          &:before {
            font-family: 'zarinpal';
            content: $iconCloseDropDown;
            font-size: 20px !important;
            display: inline-block;
            position: relative;
            top: 4px;
            color: #424242;
          }
        }
      }

      .ussd-box {
        font-size: 28px;
        background-color: #f2f3f5;
        border-radius: $boxBorderRadiusSize;
        margin-top: 10px !important;
        direction: ltr;

        &:after {
          content: '';
          display: inline-block;
          position: relative;
          border-left: 17px solid transparent;
          border-right: 0px solid rgba(88, 54, 54, 0);
          border-top: 17px solid #f2f3f5;
          right: -47px;
          top: -32px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        .ussd-text {
          position: relative;
          line-height: 46px;
        }

        .icon-ussd-text {
          position: relative;
          top: 2px;
          font-weight: 900;
          left: 13px;
          color: #424242;
          cursor: default;
          font-size: 17px;
          font-family: tahoma !important;

          .laugh {
            transform: rotate(450deg);
            display: inline-block;
            padding: 1px 11px 4px 3px;
            margin-right: -4px;
            margin-left: -3px;
          }
        }

        .icon-qr {
          &:before {
            font-family: 'zarinpal';
            content: $iconQrCode;
            font-size: 20px !important;
            display: inline-block;
            position: relative;
            left: 13px;
            top: 2px;
            color: #424242;
          }
        }
      }
      .qr-image {
        width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto;
        background-color: rgba(204, 210, 160, 0.11);
      }

    }

    .otp-container {
      #txtOtp {
        font-family: 'VazirCode', monospaced !important;
        width: 270px;
        border: none;
        outline: none;
        letter-spacing: 30px;
        text-align: left;
        margin-left: 30px;
        direction: ltr;
        font-size: 20px;
        overflow: hidden;

        &:focus {
          box-shadow: none;
        }
      }

      .remove-otp-curse {
        border: none;
        color: transparent;
        text-shadow: 0 0 0 gray;
        text-align: center;
      }

      .dashed-line {
        height: 30px;
        width: 250px;
        background-image: linear-gradient(to right, black 75%, rgba(255, 255, 255, 0) 0%);
        background-position: 50px bottom;
        background-size: 40px 1px;
        background-repeat: repeat-x;
        overflow: hidden;
        margin-top: -25px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .bottom-xs {
      margin-top: 30px;

      .ta-right {
        position: relative;
        top: -10px;
      }

      .link {
        color: #2979ff;
        margin-right: 5px;
        display: inline-block;
        cursor: pointer;
      }
    }

  }

  .auth-privacy-footer {
    font-size: 13px;
    padding: 0 3px;

    .gap {
      display: inline-block;
      width: 15px;
    }

    .link {
      color: #8b8b8c !important;
      display: inline-block;
      margin-top: 17px;
      cursor: pointer;
    }
  }

  .login-by-mobile-app {
    .hand.icon-arrow-right {
      border-radius: 30px;
      font-size: 20px;
      color: #777;

      &:hover {
        transition: $animateTime;
        background-color: #eee;
      }
    }
  }
  .change-login-type {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: -25px;
    margin-top: -25px;
    background-image: url('../img/auth/qr-corner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .change-login-type-keybord {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: -25px;
    margin-top: -25px;
    background-image: url('../img/auth/keyboard-corner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

/*** Timer ***/
div.time {
  font-size: 13px;
  border-radius: 50px;
  padding: 0 5px;
  direction: ltr;
  background-color: #e0e0e0;
  float: right;
  position: relative;
  top: 6px;

  .alive {
    display: inline-block;
    margin-left: 6px;

    .minutes,
    .seconds {
      width: 25px;
      height: 24px;
      display: inline-block;
      text-align: center;

      span {

        &:first-child {
          display: block;
        }
        &:last-child {
          font-size: 15px;
          display: block;
          padding-top: 3px;
        }
      }
    }

    .sprator {
      display: inline-block;
      font-size: 15px;
      margin-top: 4px;
      padding: 0 4px;
    }
  }

  .timer {
    width: 24px;
    height: 24px;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px #fff;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .timer:after, .timer:before {
    position: absolute;
    content: "";
    background-color: #fff;
  }
  .timer:after {
    width: 10px;
    height: 2px;
    top: 11px;
    left: 11px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 1px 1px;
    -webkit-animation: minhand 2s linear infinite;
    -moz-animation: minhand 2s linear infinite;
    animation: minhand 2s linear infinite;
  }

  .timer:before {
    width: 8px;
    height: 2px;
    top: 11px;
    left: 11px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 1px 1px;
    -webkit-animation: hrhand 8s linear infinite;
    -moz-animation: hrhand 8s linear infinite;
    animation: hrhand 8s linear infinite;
  }
  @keyframes minhand {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
  @keyframes hrhand {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
}

/*** Log out ***/
.blur-screen {
  filter: blur(5px);
  pointer-events: none;
}

/*** Vazir Font ***/
.vazir {
  font-family: VazirCode !important;
}

