body {
  background-color: #f2f3f5;
  font-family: $fontName !important;
  margin: 0 !important;
  //height: 100vh !important;
  direction: rtl;

  .font{
    font-family: $fontName;
  }

  .clear-both{
    clear: both;
  }

  a{
    text-decoration: none;
  }

  hr {
    border-color: #d9d9d9;
  }

  li{
    list-style-type: none;
  }

  .zp-container{
    //height: 100vh !important;
    margin: 0;
  }

  .main-content{
    margin-top: 50px;
    min-height: 93vh !important;
    padding-right: 0;
  }

  .inner-content{
    width: $innerContentWidth;
    max-width: $innerContentMaxWidth;
    margin: 5px auto;
  }
}

.slide-enter-active {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration:  0.5s;
  -webkit-animation-duration:  0.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

.slide-leave-active {
  animation-name: slideUp;
  animation-duration:  0.8s;
  -webkit-animation-duration: 0.8s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: hidden !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-10%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20%);
  }
  65%{
    transform: translateY(-400%);
  }
  80%{
    transform: translateY(-60%);
  }
  95%{
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/*-------Navbar (Header)-------*/
.navbar{
  width: 100%;
  background: #fff;
  line-height: 0;
  -webkit-animation: bounce-in .6s;
  animation: bounce-in .6s;
  border-bottom: 2px solid #eceff1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 50px;

  .mobile-sidebar-collapse{
    display: none;
  }

  .normal-sidebar-collapse{
    display: inline-block;
    cursor: pointer;
    padding: 9px 9px;
    color: #737373;
    top: 8px;
    height: 20px;
    overflow: hidden !important;
    right: 10px;
    width: 20px;
    border-radius: 50%;
    position: relative !important;
    transition: $animateTime;

    &::before {
      content: $iconMenu;
      font-family: 'zarinpal' !important;
      font-size: 22px;
      margin-left: 10px;
      top: 10px;
      left: 1px;
      position: relative
    }

    &:hover{
      background-color: $iconHoverBackground;
      transition: $animateTime;
    }
  }

  .navbar-title{
    font-size: 15px;
    color: $labelColor;
    font-weight: 300;
    display: inline-block;
    margin-right: 21px;
    position: relative;
    top: -9px;
  }

  .navigation-logo{
    margin: 0 auto !important;
    display: inline-block;
    text-align: center;

    .logo{
      background-image: url("../../img/ZarinPal-Logo.svg");
      width: 31px;
      height: 31px;
      margin: 10px auto;
      background-repeat: no-repeat;
    }
  }

  .left-box{
    text-align: left;

    .notification{
      float: left !important;
      margin-top: 7px;
      margin-left: 5px;
      cursor: pointer;
      padding: 13px 9px;
      border-radius: 50%;
      transition: $animateTime;

      &::before {
        content: $icon-ic_notifications_black_48px;
        font-family: 'zarinpal';
        color: #424242;
        font-size: 18px;
        display: inline-block;
        margin-top: 4px;
      }

      &:hover {
        background-color: $iconHoverBackground;
        transition: $animateTime;
      }
    }

    .disable-notification-icon {
      &:before {
        color: #ababab !important;
      }
    }

    .notification-lamp {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #ff2e56;
      border-radius: 50%;
      margin-top: 16px;
      margin-left: -13px;
    }

    .logout{
      display: inline-block;
      float: left;
      cursor: pointer;
      margin-top: 6px;
      padding: 9px 9px;
      border-radius: 50%;
      transition: $animateTime;
      &::before {
        content: $iconLogout;
        font-family:'zarinpal';
        color:#737373;
        font-size:18px;
        line-height:18px;
        font-style: normal;
      }

      &:hover {
        background-color: $iconHoverBackground;
        transition: $animateTime;
      }
    }

    .reload{
      display: inline-block;
      margin-top: 6px;
      margin-left: 5px;
      border-radius: 50%;
      padding: 9px 9px;

      &::before {
        content: $iconReload;
        font-family:'zarinpal';
        color:#737373;
        font-size:18px;
        line-height:18px;
        font-style: normal;
      }

      &:hover {
        background-color: $iconHoverBackground;
        transition: $animateTime;
      }

    }
  }

  .nav-notification {
    width: 367px;
    padding: 20px;
    background: #e5e5e5;
    margin-top: 50px;
    border: 1px solid #ccc;
    position: absolute;
    left: 30px;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;

    max-height: 300px;

    &:before {
      bottom: 100%;
      left: 38px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #E5E5E5;
      border-width: 10px;
      margin-left: -10px;
    }

    .content{
      overflow-y: auto;
      max-height: 300px;
      overflow-x: hidden;
    }

    .header{
      .notification-count{
        display: inline-block;
        float: right;
        font-size: 13px;
        padding: 11px 6px 8px 7px;
        background-color: #2979ff;
        border-radius: 50%;
        color: #fff;
      }

      .zarinpal-title{
        color: #B0B0B0;
        margin-top: 5px;
        display: inline-block;
        font-size: 20px;
        //margin-right: 38px;

        &:before{
          content: $iconZarinpal;
          font-family: 'zarinpal';
          color: #B0B0B0;
          font-size: 23px;
          margin-top:50px !important;
          position: relative;
          top: 7px;
          margin-left: 4px;
        }
      }

      .icon-setting {
        cursor: pointer;
        padding: 14px 10px;
        border-radius: 50%;
        transition: $animateTime;

        &:before{
          content: $iconSetting;
          font-family:'zarinpal';
          color:#6D6D6D;
          font-size:23px;
          position: relative;
          top: 2px;
        }

        &:hover {
          background-color: #ccc !important;
          transition: $animateTime;
        }
      }
    }

    .body {
      margin-top: 20px;

      .empty-notification{
        > span {
          color: #aaa;
          font-size: 12px;
          display: inline-block;
          margin-top: 40px;
          margin-bottom: 20px;
        }
      }

      .notification-box{
        padding: 26px 12px;
        border-bottom: 1px solid #ccc;
        transition: $animateTime;
        cursor: pointer;
        .title{
          width: 100% !important;
          margin: 10px 0 31px;
          font-size: 15px;
          color: #424242;
        }

        .body{
          font-size: 13px;
          color: #777;
        }

        &:last-child{
          border-bottom: none;
        }

        &:hover {
          background-color: #eee;
          transition: $animateTime;
        }
      }
    }

  }

}

/*-------Sidebar-------*/
.opened-dropdown{
  background-color: $sidebarHoverBgColor;
  ul{
    background-color: $sidebarHoverBgColor;
  }
}

#userProgress{
  zoom:0.25;
}

.small-user-image{
  zoom: 0.15 !important;
  margin-right: -55px !important;
  animation: userInfoFade 0.8s ease-in-out;
}

/*Small sidebar*/
.sticky-sidebar{
  position: -webkit-sticky;
  position: sticky;
  top:50px;
}

.dot-hidden{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #424242;
  border-radius: 50%;
  margin-right: -5px;
  opacity: 0;
  transition: $animateTime;
}

.dot-show{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #424242;
  border-radius: 50%;
  margin-right: 10px;
  opacity: 1;
  -webkit-animation-duration:  0.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

.small-sidebar{
  width: $smallSidebarWidth !important;
  padding: 0;
  bottom: 0;
  background:none repeat scroll 0 0  #fff;
  border-left: 2px solid #eceff1;
  transition: $animateTime;
  margin-top: 50px;

  .close-mobile-sidebar{
    display: none;
  }

  .user-info{
    .user-image{
      width: 45px !important;
      height: 45px !important;
      margin: 30px auto;

      img{
        margin-left: auto;
        margin-right: auto;
        width: 45px;
        display: block;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
      }
    }

    .user-name{
      display: none;
    }

    .nav-zp-id{
      display: none;
    }

  }

  /*side item*/
  ul{
    padding: 0;

    li{
      padding: 15px 0;
      display: block;
      text-align: center !important;
      transition: $animateTime;
      color: $sideItemColor;
      font-size: 20px;
      cursor: pointer;

      .icon-zp-easy-pay:before{
        margin-right: -5px !important;
      }

      .dot-show{
        opacity: 0 !important;
      }

      .submenu{
        background-color: $sidebarHoverBgColor !important;
        position: absolute;
        right: $smallSidebarWidth + 2;
        padding: 10px;
        width: $smallSubMenuWidth;

        li{
          padding: 5px !important;
        }
      }

      .item-icon{
        font-size: $smallSidebarIconSize;
        color: $sideItemColor;
      }
      .item-label{
        display: none !important;

        span{
          display: none !important;
        }
      }

      .item-arrow{
        display: none;
      }
    }

    li:hover{
      background-color: $sidebarHoverBgColor;
      transition: $animateTime;
      text-decoration: none;
    }

  }

}

/*Normal Sidebar*/
.normal-sidebar {
  width: $sidebarWith;
  padding: 0;
  top: 68px !important;
  bottom: 0;
  background:none repeat scroll 0 0  #fff;
  color: #eee;
  border-left: 2px solid #eceff1;
  transition: $animateTime;
  margin-top: 50px;


  .close-mobile-sidebar{
    display: none;
  }

  .user-info{
    animation: userInfoFade 0.8s ease-in-out;

    .user-image{
      height: 90px;
      text-align: center;
      margin-top: 30px;
    }

    .user-name{
      color: #424242;
      text-align: center;
      font-size: 13px;
    }
  }

  /*side item*/
  ul{
    padding: 0;
    transition: 0s !important;
    width: 90%;
    margin: 0 auto;

    .submenu{
      background-color: $sidebarHoverBgColor !important;
      li{
        padding: 7px 0!important;

        span{
          padding-right: 10px;
        }
      }
    }

    li{
      width: 100%;
      transition: $animateTime;
      color: #8e8e8e;
      font-size: 13px;
      cursor: pointer;
      border-radius: 5px;

      div{
        height: 100%;
        padding: 10px 0;

        .icon-zp-easy-pay:before{
          margin-right: -5px !important;
        }

        i{
          display: inline-block;
          margin-right: 15px;
          font-size: 17px;
          position: relative;
          top: 4px;
        }

        .item-label{
          margin-right: 15px;
        }

        .item-arrow{
          display: inline-block !important;
          float: left !important;
          margin-left: 20px;
          margin-top: 6px;
          &::before {
            content: $itemArrow;
            font-family: 'zarinpal';
            font-style: normal;
            font-size: 13px;
          }
        }
      }
    }

    li:hover{
      background-color: $sidebarHoverBgColor;
      transition: $animateTime;
      text-decoration: none;
    }

    li:hover .ul{
      transition: $animateTime;
      background-color: $sidebarHoverBgColor !important;
    }
  }

}

.nav-zp-gold{
  border: 1px solid $goldColor;
}

.nav-zp-silver{
  border: 1px solid $silverColor;
}

.nav-zp-id{
  border-radius: 20px;
  margin: 14px auto 22px auto;
  text-align: center;
  height: 27px;
  color: #666;
  width: 205px;
  font-size: 13px;

  span{
    margin-top: 4px;
    margin-right: 4px;
    display: inline-block;
    font-size: 12px;
  }

  .zp-id-color {
    border-radius: 20px;
    float: left;
    position: relative;
    top: -5px;
    height: 27px;
    .icon-zarinpal{

      &::before {
        content: $iconZarinpal;
        font-family: 'zarinpal' !important;
        font-size: 15px;
        margin-left: 2px;
        position: relative;
        top: 3px;
        padding-right: 4px;
      }
    }
    span{
      color: #5a4c01;
      font-size: 12px;
      display: inline-block;
      margin-left: 12px;
      position: relative;
      top: -1px;
    }
  }

  .zp-id-gold{
    border: 1px solid $goldColor;
    background-color: $goldColor;

    .zp-id-color{
      span{
        color: #5a4c01;
      }
    }
  }

  .zp-id-silver{
    border: 1px solid $silverColor;
    background-color: $silverColor;
    .zp-id-color{
      span{
        color: #464849;
      }
    }
  }
}

@media (max-width: $mobileSize) {
  .main-content{
    padding-right: 10px !important;
  }

  .inner-content{
    width: 100% !important;
  }

  .hidden-xs{
    display: none !important;
  }

  /*------Navbar------*/
  .navbar {
    .mobile-sidebar-collapse {
      display: inline-block;
      cursor: pointer;
      color: #737373;
      margin-top: 27px;
      margin-right: 10px !important;
      &::before {
        content: $iconMenu;
        font-family:'zarinpal' !important;
        font-size:25px;
        margin-left: 10px;
      }
    }

    .normal-sidebar-collapse {
      display: none;
    }

    .nav-notification {
      width: 85% !important;
      left: 1px !important;
      right:1px !important;
      margin-top: 50px !important;

      &:before {
        left: 55px;
      }

    }
  }

  .hidden-sidebar {
    position: absolute;
    top: -50px !important;
    right: -250px;
    animation-delay: 2s;
  }

  /*-----Mobile Sidebar-----*/
  .mobile-sidebar {
    display: block !important;
    width: 85% !important;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: -60px !important;
    right: 0;
    background-color: #fff;
    overflow-x: auto !important;
    padding-top: 60px;


    .close-mobile-sidebar {
      position: absolute;
      top: 25px;
      right: 25px;
      font-size: 22px;
      color: #777;
      cursor: pointer;
      display: inline-block;
      &::before {
        content: $iconBackArrow;
        font-family:'zarinpal' !important;
        color:$sideItemColor;
        font-size:25px;
        margin-left: 10px;
      }
    }

    .user-info{
      .user-image{
        width: 85px;
        height: 85px;
        margin: 30px auto 20px auto;
      }

      .user-name{
        display: block !important;
        color: #424242;
        text-align: center;
        font-size: 13px;
      }

      .nav-zp-id {
        display: block !important;
      }

    }

    /*side item*/
    ul{
      position: relative !important;
      right: 0 !important;
      padding: 0 !important;
      width: 90% !important;
      margin: 0 auto;

      .submenu{
        position: relative !important;
        right: 0 !important;
        padding: 0px !important;
        width: 100% !important;
      }

      li{
        width: 100%;
        height:auto !important;
        transition: $animateTime;
        color: #8e8e8e;
        font-size: 13px;
        cursor: pointer;
        border-radius: 5px;
        padding: 0;
        text-align: right !important;

        div{
          height: 100%;
          padding: 10px 0;

          .icon-zp-easy-pay:before{
            margin-right: -5px !important;
          }

          i{
            display: inline-block;
            margin-right: 15px;
            font-size: 17px;
            position: relative;
            top: 4px;
          }

          .item-label{
            display: inline-block !important;
            margin-right: 15px;
          }

          .item-arrow{
            display: inline-block !important;
            float: left !important;
            margin-left: 10px;
            margin-top: 6px;
            &::before {
              content: $itemArrow;
              font-family: 'zarinpal';
              font-style: normal;
              font-size: 13px;
            }
          }
        }

      }

      li:hover .ul{
        transition: $animateTime;
        background-color: $sidebarHoverBgColor !important;
      }

    }
  }
}
