.single-coupon {
  .box-footer {
    .footer-icon {
      padding: 8px 0;
      margin: 0 10px;
      display: inline-block;
      color: #757575;
      font-size: 13px;
      cursor: pointer;

      &:before {
        font-family: 'zarinpal';
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        color: #757575;
      }
    }

    .edit {
      &:before {
        content: $iconEdit;
      }
    }

    .details {
      &:before {
        content: $iconDetails;
      }
    }

  }
}

.nav-create-coupon {
  .box {
    width: 100%;

    .row {
      margin: 12px 0;
    }
  }
}

.coupon-details {
  .contains {
    .row {
      margin: 8px 0;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;

      &:last-child {
        padding-bottom: 0;
      }

      .value {
        font-size: 13px;
        color: $font-color;
      }
    }
  }
}