.section{
  .single-purse {
    .header {
      .right-box {

        .wallet-color {
          position: relative !important;
          top: 2px !important;
          margin-right: 4px;
        }

        > p {
          .nav-edit-wallet {

            .txt-wallet-name {
              border: none;
              background-color: #fff;
              width: 60px;
            }

            span {
              font-size: 12px;
              padding: 4px 6px;
              border-radius: 3px;
              margin: 4px;
              cursor: pointer;
            }

            .save {
              color: #4AD27F;
            }

            .cancel {
              color: #686868;
            }

            .cancel, .save {
              transition: $animateTime;

              &:hover {
                transition: $animateTime;
                background-color: #ECECEC;
              }
            }

            .cancel:hover {
              transition: $animateTime;
              background-color: #ECECEC;
            }

            .cancel, .save {
              &:active {
                background-color: #D2D2D2;
              }
            }
          }
        }
      }
    }

    .body {
      .txt-balance {
        font-size: 13px;
        color: #777777;
        margin: 5px auto 0 auto;
      }

      .balance-amount {
        font-size: 35px;
        color: #666;
        margin-bottom: 5px;
      }
      .nav-show-chart {
        width: 100px;
        color: #458bff;
        font-size: 13px;
        cursor: pointer;
        margin-top: -10px;

        .chart-icon {
          margin-left: 10px;
          display: inline-block;
          &:before {
            content: $chartIcon;
            font-family: 'zarinpal';
            color: #458bff;
          }
        }
      }
    }

    .single-purse-body {
      cursor: pointer;
    }

    .footer {
      border-top: 1px solid $boxBorderColor;

      .segment {
        text-align: center;
        border-left: 1px solid $boxBorderColor;

        span {
          display: block;
          font-size: 18px;
          margin: 15px auto 0px auto;
        }

        .txt-daily-balance {
          color: #848484;
          text-align: right;
          font-size: 12px;
          margin-top: 5px;
          margin-right: 10px;
        }

        .amount {
          display: inline-block !important;
          vertical-align: middle !important;
          color: #777777;
          margin-top: 3px;
          margin-bottom: 6px;
        }
      }

      .segment:last-child {
        border-left: none;
      }

    }

    .single-purse-footer {
      cursor: pointer;
    }
  }
}

//Modal Create Purse
.create-purse{
  .body {
    border-radius: 0 0 $boxBorderRadiusSize $boxBorderRadiusSize;

    .create-description{
      font-size: 13px;
      text-align: right;
      padding: 0 6px;
      color: #424242;
    }

    .purses{
      margin: 10px 0;
    }

    .row:last-child {
      margin-top: 20px;
    }
  }
}

//Modal Add fund
.add-fund{
  .cards{
    margin: 10px 0;
  }

  .nav-not-active-card{
    color: $labelColor;

    .title{
      font-size: 20px;
    }

    .description{
      font-size: 13px;
    }
  }

  .row {
    margin: 10px 0;
  }

  .purse-amount{
    font-size: 13px;
    padding-right: 5px;
  }
}

//Ptop styles
.ptop{
  .nav-loading{
    padding: 80px 30px 93px 30px;
  }

  .row{
    input, textarea {
      margin:5px 0;
    }
  }

  .btn{
    margin-top: 10px;
    margin-right: 10px;
  }

}


//Withdraw
.withdraw{
  .row{
    margin: 10px 0;
  }
}