.nav-top-buttons {
  margin-bottom: 20px;
  .btn-gradient-radius {
    background-color: #fff;
    border-radius: 60px;
    margin-left: 10px;
    height: 38px;
    transition: $animateTime;
    margin-top: 10px;

    .btn-icon {
      position: relative;
      top: -2px;

      &:before {
        font-family: 'zarinpal';
        font-style: normal;
        font-size: 22px;
        color: $labelColor !important;
        position: relative;
        top: 3px;
      }
    }

    .btn-label {
      font-size: 14px;
      color: $labelColor;
      margin-right: 7px;
      position: relative;
      top: -5px;
    }

    .request-money {
      &::before {
        content: $iconRequestMoney;
        position: relative;
        top: 3px;
      }
    }

    .add-fund {
      &:before {
        content: $iconAddFund;
      }
    }

    .ptop {
      &:before {
        content: $iconPtop;
      }
    }

    .withdraw {
      &:before {
        content: $iconWithdraw;
      }
    }

    &:hover {
      background-color: #fafafa !important;
      transition: $animateTime;
    }
  }

  .zarin-card {
    background-image: -webkit-linear-gradient(180deg, rgb(255, 237, 113) 0%, rgb(255, 218, 24) 100%) !important;
    height: 41px;
    margin-left: 0 !important;
    padding-top: 15px;

    .btn-label {
      position: relative;
      top: -5px !important;
    }
  }

  .btn {
    margin-top: 9px;
    border-radius: 30px;

    .text {
      color: #fff;
      font-size: 14px;
      display: inline-block;
      margin-top: -3px;
      margin-right: 8px;
      vertical-align: middle;
    }

    .icon-add-circle {
      display: inline-block;
      font-size: 20px;
      &:before {
        content: $addCircleIcon;
        font-family: 'zarinpal';
        color: #fff;
        vertical-align: middle;
        top: 3px;
      }
    }
  }

}

//Box
.section {
  .single-purse {
    .header {
      .right-box {

        .wallet-color {
          position: relative !important;
          top: 2px !important;
          margin-right: 4px;
        }

        > p {
          .nav-edit-wallet {
            form {
              display: inline;
              margin-right: 5px;
            }
            .txt-wallet-name {
              border: none;
              background-color: #fff;
              width: 89px;
              outline: none;
            }

            span {
              font-size: 12px;
              padding: 4px 6px;
              border-radius: 3px;
              margin: 4px;
              cursor: pointer;
            }

            .save {
              font-size: 12px;
              padding: 4px 6px;
              border-radius: 3px;
              margin: 4px;
              cursor: pointer;
              color: #4AD27F;
              background: transparent;
              box-shadow: none;
            }

            .cancel {
              color: #686868;
            }

            .cancel, .save {
              transition: $animateTime;

              &:hover {
                transition: $animateTime;
                background-color: #ECECEC;
              }
            }

            .cancel:hover {
              transition: $animateTime;
              background-color: #ECECEC;
            }

            .cancel, .save {
              &:active {
                background-color: #D2D2D2 !important;
              }
            }
          }
        }
      }
    }

    .body {
      .txt-balance {
        font-size: 13px;
        color: #777777;
        margin: 5px auto 0 auto;
      }

      .balance-amount {
        font-size: 35px;
        color: #666;
        margin-bottom: 5px;
      }
      .nav-show-chart {
        width: 100px;
        color: #458bff;
        font-size: 13px;
        cursor: pointer;
        margin-top: -10px;

        .chart-icon {
          margin-left: 10px;
          display: inline-block;
          &:before {
            content: $chartIcon;
            font-family: 'zarinpal';
            color: #458bff;
          }
        }
      }
    }

    .single-purse-body {
      cursor: pointer;
    }

    .footer {
      border-top: 1px solid $boxBorderColor;

      .segment {
        text-align: center;
        border-left: 1px solid $boxBorderColor;

        span {
          display: block;
          font-size: 18px;
          margin: 15px auto 0px auto;
        }

        .txt-daily-balance {
          color: #848484;
          font-size: 12px;
          margin-top: 5px;
        }

        .amount {
          display: inline-block !important;
          vertical-align: middle !important;
          color: #777777;
          margin-top: 3px;
          margin-bottom: 6px;
        }
      }

      .segment:last-child {
        border-left: none;
      }

    }

    .single-purse-footer {
      cursor: pointer;
    }
  }
}

//Modal Create Purse
.create-purse {
  .body {
    border-radius: 0 0 $boxBorderRadiusSize $boxBorderRadiusSize;

    .create-description {
      font-size: 13px;
      text-align: right;
      padding: 0 6px;
      color: #424242;
    }

    .purses {
      margin: 10px 0;
    }

    .row:last-child {
      margin-top: 20px;
    }
  }
}

//Modal Add fund
.add-fund {

  .purses {
    margin-bottom: 10px;
  }

  .cards {
    margin: 10px 0;
  }

  .nav-not-active-card {
    color: $labelColor;

    .title {
      font-size: 20px;
    }

    .description {
      font-size: 13px;
    }
  }

  .row {
    margin: 10px 0;
  }

  .purse-amount {
    font-size: 13px;
    padding-right: 5px;
  }
}

//Ptop styles
.ptop {
  .nav-loading {
    padding: 80px 30px 93px 30px;
  }

  .purses {
    margin-bottom: 5px;
  }

  .row {
    input, textarea {
      margin: 5px 0;
    }
  }

  .btn {
    margin-top: 10px;
    margin-right: 10px;
  }

}

//Withdraw
.withdraw {
  .row {
    margin: 10px 0;
  }

  .nav-fees {
    font-size: 14px;

    .bx {
      background-color: #fff;
      border-radius: $boxBorderRadiusSize;
      border: 1px solid #ddd;

      .col-xs {
        padding: 10px;
      }

      .left-box {
        background-color: #FAFAFA !important;
        border-radius: 5px 0 0 5px;
      }
    }

    .nav-options {
      padding: 5px 0;

      .option-row {
        padding: 5px 10px;
      }
    }

    .fee-amount {
      .title {
        display: inline-block;
        margin-top: 12px;
      }
    }

    .fee-description {
      text-align: right;
      color: #424242;
    }
  }

}

//Zarincard
.request-zarin-card {

  .user-information-description {
    color: $labelColor;
    font-size: 13px;
    margin-top: 20px;
    margin-right: 3px;
  }

  .user-information-box {
    border: 2px solid #eee;
    border-radius: $boxBorderRadiusSize;
    padding: 10px;
    color: $labelColor;
    font-size: 13px;
    margin: 10px 0;
  }

  .zarin-card-request-box {
    border: 2px solid #eee;
    border-radius: $boxBorderRadiusSize;
    color: $labelColor;
    font-size: 13px;
    margin: 10px 0;

    .right-box {
      padding: 10px;
    }

    .left-box {
      background-color: #FAFAFA !important;
      border-radius: 5px 0 0 5px;
      padding: 10px;

      .cost {
        font-size: 15px;
        font-weight: bold;
      }

      .toman {
        font-size: 12px;
        color: #777;
      }
    }
  }

  .accept-information-box {
    margin: 13px 3px 20px;
  }
}