.section{
  .box{
    .header{
      .right-box{

        .wallet-color{
          position: relative !important;
          top: 4px !important;
        }

        > p {
          .nav-edit-wallet{

            .txt-wallet-name{
              border: none;
              background-color: #F4F4F4;
              width: 60px;
            }

            span{
              font-size: 12px;
              padding: 4px 6px;
              border-radius: 3px;
              margin: 4px;
              cursor: pointer;
            }

            .save{
              color: #4AD27F;
            }

            .cancel{
              color: #686868;
            }

            .cancel, .save{
              transition: $animateTime;

              &:hover {
                transition: $animateTime;
                background-color: #ECECEC;
              }
            }

            .cancel:hover{
              transition: $animateTime;
              background-color: #ECECEC;
            }

            .cancel, .save {
              &:active{
                background-color: #D2D2D2;
              }
            }
          }
        }
      }

      .left-box {
        .icon-more {
          float: left;
          margin-top: 19px;
          display: inline-block;
          cursor: pointer;
          &:before{
            content: $moreIcon;
            font-family:'zarinpal';
            color: #777777;
          }
        }

        .drop-down {
          background-color: #fff;
          color: $itemColor !important;
          display: inline-block;
          position: relative;
          top: 7px;
          left: -16px;
          box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);;
          border-radius: $dropDownBorderRadius;

          .close-drop-down{
            text-align: left;
            padding: 4px 0 !important;
            cursor: pointer;
            &:before{
              content: $iconCloseDropDown;
              font-family: 'zarinpal';
              color: $closeDropDownColor !important;
            }
          }

          .drop-down-item{
            font-style: normal;
            font-size: 13px;
            display: block;
            padding: 8px 15px;
            transition: $animateTime;

            &:before{
              color: $itemIconColor;
              padding-left: 10px;
              font-size: 14px;
              font-family: 'zarinpal';
              position: relative;
              display: inline-block;
              top: 3px;
            }
          }

          .drop-down-item:hover{
            background-color: #F2F2F2;
            transition: $animateTime;
          }

          .add-fund{
            &:before{
              content: $iconAddFund;
            }
          }

          .transaction{
            color: $itemColor !important;
            &:before{
              content: $iconTransaction;

            }
          }
        }
      }
    }

    .body{
      text-align: center;
      .txt-balance{
        font-size: 13px;
        color: #777777;
        margin: 20px auto 0 auto;
      }

      .balance-amount{
        font-size: 35px;
        color: #666;
        margin-bottom: 20px;
      }
      .nav-show-chart{
        width: 100px;
        color: #458bff;
        font-size: 13px;
        cursor: pointer;
        margin-top: -10px;

        .chart-icon{
          margin-left: 10px;
          display: inline-block;
          &:before{
            content: $chartIcon;
            font-family:'zarinpal';
            color: #458bff;
          }
        }
      }
    }

    .footer{
      border-top: 1px solid $boxBorderColor;

      .segment{
        text-align: center;
        border-left:1px solid $boxBorderColor;

        span{
          display: block;
          font-size:18px;
          margin: 15px auto 0px auto;
        }

        .icon-input-trans{
          &::before{
            content: $inputTransIcon;
            font-family:'zarinpal';
            color: #00c853;
          }
        }

        .icon-output-trans{
          &::before{
            content: $outputTransIcon;
            font-family:'zarinpal';
            color: #ff1744;

          }
        }

        .icon-moving-trans{
          &::before{
            content: $movingTransIcon;
            font-family:'zarinpal';
            color: #ff9800;
          }
        }

        .amount{
          display: inline-block !important;
          vertical-align: middle !important;
          color: #777777;
          margin-top: 4px;
          margin-bottom: 6px;
        }
      }

      .segment:last-child{
        border-left:none;
      }

    }

  }
}

//Modal Create Purse
.create-purse{
  .body {
    border-radius: 0 0 $boxBorderRadiusSize $boxBorderRadiusSize;

    .create-description{
      font-size: 13px;
      text-align: right;
      padding: 0 6px;
      color: #424242;
    }

    .purses{
      margin: 10px 0;
    }

    .row:last-child {
      margin-top: 20px;
    }
  }
}


//Modal Add fund
.add-fund{

  .nav-not-active-card{
    color: $labelColor;

    .title{
      font-size: 20px;
    }

    .description{
      font-size: 13px;
    }
  }

  .dropdown{

    //li:nth-child(1){
    //  span {
    //    position: relative;
    //    top: -6px;
    //  }
    //}

    .bank-logo{
      width: 19px;
      position: relative;
      top: 3px;
      height: 19px;
      margin-left: 5px;
    }

    .bank-name{
      position: relative;
      top: -4px;
    }
  }



  .row {
    margin: 10px 0;
  }
}