$tableBackgroundColor: #eee;
$tableBorderColor: #777;

.show-income-amount {
  color: #52b983;
  border-radius: 5px;
  background-color: #ddfef3;
  margin-left: 10px;
  position: relative;
  padding: 3px 12px 2px 10px;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 11px;
}

.show-income-count {
  color: #52b983;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 11px;
}

.show-outgo-amount {
  color: #e72256;
  border-radius: 5px;
  background-color: #fee6ef;
  margin-left: 10px;
  position: relative;
  padding: 3px 12px 2px 10px;
  font-weight: bold;
  font-size: 11px;
}

.show-outgo-count {
  color: #e72256;
  font-weight: bold;
  font-size: 11px;
}

.day-of-month {
  font-weight: bold;
  position: absolute;
  left:0;
  bottom: 0;
  height: 20px;
  width: 20px;
  background-color: #f2f3f5;
  border-radius: 100%;
  margin-left: 3px;
  margin-bottom: 3px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}


.cell {
  padding: 10px 5px 20px 5px !important;
  border-left: 1px  solid #f2f3f5;
  position: relative;
  &:last-child{
    border-left:none;
  }
}

.min-height-box {
min-height: 100px;
}