/* ===============
   Request Money Index
   =============== */

/*** Nav background image ***/
.request-money-index{
  margin-top: 10px;

  .nav-blur-container{
    overflow:hidden;
    border-radius:5px 5px 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);

    .user-profile-background{
      width: 110%;
      height: 200px;
      background-repeat: no-repeat;
      z-index: -1;
      position: relative;
      padding: 0;
      -webkit-filter: blur(15px);
      filter: blur(15px);
      margin-top: -170px;
      right: -10px;
      top: -30px;
      bottom: 0;
    }

    .blur-content{

      .nav-user-info{
        margin-top: 30px;
        margin-right: 21px;
        position: relative;
        top: 20px;

        .user-avatar{
          border:5px solid rgba(255, 255, 255, .3);
          border-radius: 50%;
          width: 84px;
          height: 84px;
        }

        .user-name{
          font-size: 19px;
          color: #fff;
          display: inline-block;
          position: relative;
          top: -40px;
          margin-right: 17px;
          margin-top: -60px !important;
        }

        .user-zp-id{
          font-size: 14px;
          color: #fff;
          position: relative;
          top: -40px;
          right: 110px;
        }
      }
    }

    .nav-buttons {
      display: inline-block;
      float: left;
      margin-left: 20px;
      margin-top: 110px;

      .zarin-friends{
        &:before{
          font-family: 'zarinpal';
          content: $iconPerson;
          position: relative;
          top: 3px;
          margin-left: 5px;
          font-size: 18px;
        }
      }

      .request-button {
        border:1px solid #fff;
        border-radius:20px;
        color:#fff;
        background-color: rgba(255, 255, 255, .1);
        padding: 5px 10px;
        cursor:pointer;
        font-size: 13px;
        margin-right: 10px;
      }
    }
  }

  .nav-menu{
    background-color: #ffffff;
    border-radius: 0 0 $boxBorderRadiusSize $boxBorderRadiusSize;
    margin-top: -40px;
    margin-bottom:15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);

    ul {
      li{
        display:inline-block;
        font-size: 13px;
        padding: 11px;
        color: #B6B6B6;
        cursor: pointer;

        &:hover{

        }

        &.active{
          color: #424242 !important;
          border-bottom:3px solid #FFD500;
          cursor: default;
        }
      }
    }
  }
}

/*** Request money row ***/
.nav-request-money{
  .trans-row{
    background-color: #fefefe;
    border-radius: $boxBorderRadiusSize;
    font-size: 13px;
    color: #424242;
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.15);
    padding: 15px 0 5px 0;
    text-align: right;
    margin: 8px 0;

    .nav-user-avatars{
      height: 27px;
      overflow: hidden;
      width: 95px;
      display: inline-block;

      .users-avatar{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-left: -10px;
        border: 1px solid #ffffff;
      }

      .paid-user{
        border:1px solid #2ecc71 !important;
      }

      .reject-user{
        border:1px solid #ff1744 !important;
      }

      .pending-user{
        border:1px solid #ff9800 !important;
      }
    }

    .total-amount{
      font-weight: bold;
      font-size:15px;
      margin-left: 5px;
    }
  }


  .req-btn{
    border-radius: 30px;
    padding: 2px 10px;
    font-size: 13px;
    margin-right: 10px;
    cursor:pointer;
    transition: $animateTime;
  }
  .btn-decline{
    border:1px solid #ff1744;
    color:#ff1744;
    &:hover{
      transition: $animateTime;
      background-color:rgba(255, 23, 68, 0.2);;
    }
  }

  .btn-accept{
    border:1px solid #2ecc71;
    color:#2ecc71;
    &:hover{
      transition: $animateTime;
      background-color: rgba(46, 204, 113, 0.2);
    }
  }

  .paid-text{
    font-size:13px;
    color: #2ecc71;
  }

  .reject-text{
    font-size:13px;
    color: #ff1744;
  }

  .pending-text{
    font-size:13px;
    color: #ff9800;
  }
}


/* ===============
   New request money
   =============== */

.new-request-money{
  /*** Common in new request ***/
  /*** Footer ***/
  .footer{
    margin: 0 -20px -20px -20px !important;
    .user-counter {
      font-size: 14px;
      color: $labelColor !important;
      margin-top: 7px;
      display: inline-block;
    }

    .prev-link-text {
      font-size: 14px;
      color: #828282;
      cursor: pointer;
      &:before {
        content: $iconPrev;
        font-family:'zarinpal' !important;
        font-size: 25px;
        margin-left: 0;
        position: relative;
        top: 7px;
      }
    }
  }


  /*** Select users ***/
  .nav-select-user{
    .search-box{
      margin-right: -20px !important;
      margin-left: -20px !important;
      margin-top: -10px !important;
      border-bottom: 1px solid #e5e5e5;

      .icon-search{
        position: relative;
        top: 8px;
        right: 15px;
      }

      input[type="text"] {
        width: 92%;
        border: none;
        outline: none;
        margin-right: 10px !important;
        &:focus{
          box-shadow: none;
        }
      }
    }


    /*** Users ***/
    .users{
      margin: 20px 0;
      max-height: 280px;
      overflow: auto;
      .user-row{
        .avatar{
          width: 55px;
          border-radius: 50%;
          margin-right: 10px;
          margin-top: 10px;
        }

        .user-name{
          font-size:14px;
          color:$labelColor;
          margin-top: 17px;
        }

        .user-zp{
          font-size:13px;
          color:#717171;
        }
      }
    }
  }

  /*** Select Method ***/
  .nav-request-type{
    margin-bottom: 33px;
    .nav-selected-avatars {
      width: 310px;
      overflow: hidden;
      height: 64px;
      margin: 20px auto;
      text-align: center;

      .avatar {
        width: 60px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-left: -20px;
      }

      .remain-user-number{
        color: $labelColor;
        display: inline-block;
        background-color: rgba(238, 238, 238, 0.45);
        border-radius: 50%;
        position: relative;
        top: 0;
        padding: 17px 25px;
        float: left;
        border: 2px solid #fff;
      }
    }


    .top-text{
      font-size:15px;
      color:$labelColor;
      margin: 10px 5px;
    }

    .method-box{
      background-color: #f7f7f7;
      border:1px solid transparent;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 10px;

      .title{
        font-size: 15px;
        color: $labelColor;
        font-weight: bold;
      }

      .description{
        font-size: 14px;
      }

      .circle-checkbox{
        margin-top:16px;
      }

      &.active{
        border: 1px solid #e4e4e4;
      }
    }
  }
}

/* ===============
   Responsive actions
   =============== */

/*** Md ***/
@media (max-width: $mediumWidth){
  .nav-blur-container{
    text-align: center;
  }

  .nav-user-info {
    top: -20px !important;

    .user-zp-id {
      right: 45px !important;
    }
  }

  .nav-left{
    text-align: center !important;
  }

  .nav-buttons{
    margin-top: -20px !important;
    margin-bottom: 10px !important;
  }
}

/*** Sm ***/
@media (max-width: $smallWidth){

}

/*** Xs ***/
@media (max-width: $mobileSize) {
  .request-money-index {
    .nav-blur-container {
      .user-profile-background{
        height: 260px !important;
        margin-top: -210px !important;
      }
    }

    .nav-user-info{
      .user-avatar{
        margin: 10px auto !important;
      }
    }
  }
}