/* ===============
   Request Money Index
   =============== */

.inactive-index {
  pointer-events: none;
  filter: blur(3px);
}

/*** Nav background image ***/
.request-money-index {
  margin-top: 10px;

  .nav-blur-container {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);

    .blur-container {
      height: 40px;
    }

    .user-profile-background {
      width: 110%;
      background-repeat: no-repeat;
      z-index: -1;
      position: relative;
      padding: 0;
      -webkit-filter: blur(15px);
      filter: blur(15px);
      margin-top: -170px;
      right: -10px;
      top: -490px;
      bottom: 0;
    }

    .blur-content {

      .nav-user-info {
        margin-top: 30px;
        margin-right: 21px;
        position: relative;

        .user-avatar {
          border: 5px solid rgba(255, 255, 255, .3);
          border-radius: 50%;
          width: 84px;
          height: 84px;
          position: relative;
          top: 20px;
        }

        .user-name {
          font-size: 19px;
          color: #fff;
          display: inline-block;
          position: relative;
          top: -30px;
          margin-right: 17px;
          margin-top: -60px !important;
        }

        .user-zp-id {
          font-size: 14px;
          color: #fff;
          position: relative;
          top: -30px;
          right: 110px;
        }
      }
    }

    .nav-buttons {
      display: inline-block;
      float: left;
      margin-left: 20px;
      margin-top: 110px;

      .zarin-friends {
        &:before {
          font-family: 'zarinpal';
          content: $iconPerson;
          position: relative;
          top: 3px;
          margin-left: 5px;
          font-size: 18px;
        }
      }

      .request-button {
        border: 1px solid #fff;
        border-radius: 20px;
        color: #fff;
        background-color: rgba(255, 255, 255, .1);
        padding: 5px 10px;
        cursor: pointer;
        font-size: 13px;
        margin-right: 10px;
      }
    }
  }

  .nav-menu {
    background-color: #ffffff;
    border-radius: 0 0 $boxBorderRadiusSize $boxBorderRadiusSize;
    margin-top: -40px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);

    ul {
      li {
        display: inline-block;
        font-size: 13px;
        padding: 11px;
        color: #B6B6B6;
        cursor: pointer;

        &:hover {

        }

        &.active {
          color: #424242 !important;
          border-bottom: 3px solid #FFD500;
          cursor: default;
        }
      }
    }
  }
}

/*** Request money row ***/
.nav-request-money {
  .more-number {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 1px 4px;
    border-radius: 50%;
    border: 1px solid #bbb;
    position: relative;
    top: -10px;
    margin-right: -6px;
  }

  .trans-row {
    background-color: #fefefe;
    border-radius: $boxBorderRadiusSize;
    font-size: 13px;
    color: #424242;
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.15);
    padding: 15px 0 5px 0;
    text-align: right;
    margin: 8px 0;

    .nav-user-avatars {
      height: 27px;
      overflow: hidden;
      width: 105px;
      display: inline-block;

      .users-avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-left: -10px;
        border: 2px solid #ffffff;
      }
    }

    .total-amount {
      font-weight: bold;
      font-size: 15px;
      margin-left: 5px;
    }
  }

  .req-btn {
    border-radius: 30px;
    padding: 2px 10px;
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
    transition: $animateTime;
    display: inline-block;

    .material-spinner {
      position: relative !important;
      top: 4px !important;
      margin-right: 5px !important;
    }
  }

  .btn-decline {
    border: 1px solid #ff1744;
    color: #ff1744;
    &:hover {
      transition: $animateTime;
      background-color: rgba(255, 23, 68, 0.2);;
    }

    &.clicked-reject {
      transition: $animateTime;
      background-color: rgba(255, 23, 68, 0.2);;
    }
  }

  .btn-accept {
    border: 1px solid #2ecc71;
    color: #2ecc71;
    &:hover {
      transition: $animateTime;
      background-color: rgba(46, 204, 113, 0.2);
    }

    &.clicked-paid {
      transition: $animateTime;
      background-color: rgba(46, 204, 113, 0.2);
    }
  }

  .paid-text {
    font-size: 13px;
    color: #2ecc71;
  }

  .reject-text {
    font-size: 13px;
    color: #ff1744;
  }

  .pending-text {
    font-size: 13px;
    color: #ff9800;
  }

}

/* ===============
   Request Details
   =============== */
.request-details {
  /*** Common ***/
  .nav-amount {
    padding: 30px 0;
    border-bottom: 1px solid #eee;

    > span {
      font-size: 24px;
      margin-left: 5px;
    }

    > small {
      color: #777777;
    }
  }

  .nav-request-status {
    .row {
      font-size: 15px;
      padding: 10px 4px;
      border-bottom: 1px solid #eee;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  /*** Demand details***/
  .demand-details {
    .nav-top {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
      margin: 0px -20px 0 -20px;

      .row {
        div {
          padding: 10px 20px;
        }
      }
    }

    .users {
      margin-top: 3px;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: -20px;
      background-color: #FBFBFB;
      border-radius: 0 0 $boxBorderRadiusSize $boxBorderRadiusSize;
      max-height: 250px;
      overflow: auto;

      .persons-text {
        margin: 20px 20px;
        color: #666;
        padding-top: 10px;
      }

      > .row {
        border-bottom: 1px solid #eee;

        .name {
          margin-top: 10px;
          font-size: 14px;
        }

        .amount {
          font-size: 18px;
          margin-left: 5px;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .avatar {
        width: 50px;
        border-radius: 50%;
        margin: 5px 20px 5px 1px;
        position: relative;
        top: 5px;
      }

      .nav-status {
        > span {
          margin-left: 20px;
          margin-top: 26px;
          display: inline-block;
        }
      }

    }
  }

  /*** Debt details***/
  .debt-details {
    padding: 0 20px;

    .avatar {
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }
  }
}

/*** Pay request modal ***/
.pay-request {
  .nav-amount {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;

    > span {
      font-size: 30px;
      margin-left: 5px;
    }
    > small {
      font-size: 13px;
    }
  }

  .nav-description {
    margin: 10px 0;
  }
}

/* ===============
   New request money
   =============== */

.new-request-money {
  /*** Common in new request ***/

  /*** Footer ***/
  .footer {
    margin: 0 -20px -20px -20px !important;
    padding: 13px 30px !important;
    .user-counter {
      font-size: 14px;
      color: $labelColor !important;
      margin-top: 7px;
      display: inline-block;
    }

    .prev-link-text {
      font-size: 14px;
      color: #828282;
      cursor: pointer;
      &:before {
        content: $iconPrev;
        font-family: 'zarinpal' !important;
        font-size: 25px;
        margin-left: 0;
        position: relative;
        top: 7px;
      }
    }
  }

  /*** Selected Users Avatar ***/
  .selected-users-avatar {
    margin-top: -40px;
    margin-right: -30px;
    margin-left: -30px;
    padding: 20px;
    background-color: #f7f7f7;

    .avatar-container {
      width: 310px;
      margin: 10px auto;
      direction: ltr;

      .avatar {
        width: 60px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-left: -20px;
        transition: $animateTime;
        box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
      }
    }

    .arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 25px 22px 25px;
      border-color: transparent transparent #fff transparent;
      line-height: 0px;
      position: relative;
      margin: -10px auto;
      bottom: -10px;
    }
  }

  /*** Remain user count ***/
  .remain-user-number {
    color: $labelColor;
    display: inline-block;
    background-color: rgba(238, 238, 238, 0.45);
    border-radius: 50%;
    position: relative;
    top: 0;
    padding: 17px 25px;
    float: left;
    border: 2px solid #fff;
  }

  /*** Select users ***/
  .nav-select-user {
    .search-box {
      margin-right: -20px !important;
      margin-left: -20px !important;
      margin-top: -10px !important;
      margin-bottom: 12px;

      border-bottom: 1px solid #e5e5e5;

      .icon-search {
        position: relative;
        top: 8px;
        right: 15px;
      }

      input[type="text"] {
        width: 92%;
        border: none;
        outline: none;
        margin-right: 10px !important;
        margin-bottom: 10px;
        margin-top: 6px;

        &:focus {
          box-shadow: none;
        }
      }
    }

    /*** Users ***/
    .users {
      margin: 20px 0;
      max-height: 280px;
      min-height: 250px;
      margin-left: -20px;
      overflow: auto;
      .user-row {
        width: 100%;
        cursor: pointer !important;
        > label {
          width: 100% !important;
        }

        .avatar {
          width: 55px;
          border-radius: 50%;
          margin-right: 10px;
          margin-top: 10px;
        }

        .user-name {
          font-size: 14px;
          color: $labelColor;
          margin-top: 17px;
        }

        .user-zp {
          font-size: 13px;
          color: #717171;
        }

        .checkbox-label {
          margin-top: 30px;
          display: inline-block;
        }
      }
    }
  }

  .txt-nothing-to-show {
    color: #424242;
    position: relative;
    top: -130px;
    margin-top: -200px;
    font-size: 13px;
    display: inline-block;
  }

  /*** Select Method ***/
  .nav-request-type {
    margin: 20px 10px;
    cursor: pointer;

    .nav-selected-avatars {
      width: 310px;
      overflow: hidden;
      height: 64px;
      margin: 20px auto;
      text-align: center;

      .avatar {
        width: 60px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-left: -20px;
      }
    }

    .top-text {
      font-size: 15px;
      color: $labelColor;
      margin: 10px 5px;
    }

    .method-box {
      cursor: pointer;
      background-color: #f7f7f7;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 10px;

      > label {
        width: 100%;
      }

      .title {
        cursor: pointer;
        font-size: 15px;
        color: $labelColor;
        font-weight: bold;
      }

      .description {
        cursor: pointer;
        font-size: 14px;
      }

      .circle-checkbox {
        margin-top: 16px;
      }

      &.active {
        border: 1px solid #e4e4e4;
      }
    }
  }

  .auto-division {
    margin: 20px 10px;

    .share-in-request-text {
      margin: 20px -7px;
    }
  }

  .nav-manually-division {
    margin: 30px 10px;

    .manually-selected-users-avatar {
      overflow: hidden;
      .avatar-container {
        width: 100% !important;
      }

      .avatar {
        transition: .2s;

      }

      .active-image {
        width: 70px;
        transition: 0.2s;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        margin: 0 40px 0 20px;
      }
    }

    .selected-users-avatar {
      margin-top: -50px !important;
      height: 80px;
    }

    .user-name {
      font-size: 15px;
      color: $labelColor;
      display: inline-block;
      margin: 20px 0;
    }

    .icon-next {
      float: right;
      margin-top: -85px;
      display: inline-block;
      cursor: pointer;
      &:before {
        font-family: 'zarinpal';
        content: $iconPrev;
        position: relative;
        top: 3px;
        font-size: 25px;
      }
    }

    .icon-prev {
      display: inline-block;
      float: left;
      margin-top: -80px;
      margin-right: -26px;
      cursor: pointer;
      &:before {
        content: $iconForward;
        font-family: 'zarinpal';
        position: relative;
        top: 3px;
        margin-left: 5px;
        font-size: 25px;
      }
    }
  }

  .nav-request-amount {
    margin: 20px;
    .amount-text {
      font-size: 15px;
      color: $labelColor;
    }

    .sum-amount {
      font-size: 18px;
      color: #2ecc71;
      margin: 0 5px;
    }
  }

  .amount-input {
    text-align: center;
    font-size: 36px;
    color: #676767;
    border: 1px solid #cecece;
    border-radius: $boxBorderRadiusSize;

    &::placeholder {
      font-size: 25px;
    }
  }

  /*** Description and details ***/
  .nav-final-step {
    margin: 20px 10px;

    .description-title {
      font-size: 13px;
      margin-top: 20px;
    }
    .selected-users-static {
      @extend .selected-users-avatar;
      img {
        width: 60px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-left: -20px;
        transition: $animateTime;
        box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
      }

    }

    .description-input {
      padding: 9px;
      margin: 15px 0;
    }

    .detail-bar {
      background-color: #f7f7f7;
      font-size: 15px;
      font-weight: bold;
      padding: 5px 25px;
      margin-right: -30px;
      margin-left: -30px;
      margin-bottom: 20px;
    }

    .total-amount {
      font-size: 24px;
      color: #2ecc71;
      margin-left: 10px;
    }

    .total-toman {
      margin-top: 5px;
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: #f5f5f5;
      margin: 25px 0;
    }

    .multi-person {
      font-size: 15px;
    }
  }
}

/* ===============
   Responsive actions
   =============== */

/*** Md ***/
@media (max-width: $mediumWidth) {
  .nav-blur-container {
    text-align: center;
  }

  .nav-user-info {
    top: -20px !important;

    .user-zp-id {
      right: 45px !important;
    }
  }

  .nav-left {
    text-align: center !important;
  }

  .nav-buttons {
    margin-top: -20px !important;
    margin-bottom: 10px !important;
  }
}

/*** Sm ***/
@media (max-width: $smallWidth) {

}

/*** Xs ***/
@media (max-width: $mobileSize) {
  .request-money-index {
    .nav-blur-container {
      .user-profile-background {
        //height: 260px !important;
        margin-top: 0 !important;
        top: -320px;
      }
    }

    .nav-user-info {
      .user-avatar {
        margin: 10px auto !important;
      }
    }
  }
}

/*** Md ***/
@media (max-width: $mediumWidth) {
  .request-money-index {
    .nav-blur-container {
      .user-profile-background {
        top: -320px;
      }
    }
  }
}

/*** Sm ***/
@media (max-width: $smallWidth) {
  .request-money-index {
    .nav-blur-container {
      .user-profile-background {
        top: -350px;
      }
    }
  }
}