$plusIcon: $icon-zp-add;

.ticket-main-content{
  margin-top: 50px;

  .ticket-empty-list-width{
    width:40%;
  }

  .full-height {
    min-height: 92vh !important;
  }

  .nav-ticket-empty{
    text-align: center;
    height: 94vh;

    img {
      width: 50%;
      margin-top: 100px;
    }

    .emptyText{
      display: block;
      font-size:  13px;
      color: #424242;
    }
  }

  .nav-ticket-list{
    background-color: #444a4d;
    overflow: auto;
    height: 93vh;

    .sticky-new-ticket{
      position: -webkit-sticky;
      position: sticky;
      bottom:0 !important;
      padding:40px 20px;
      margin-right: -20px;
      width: 100%;

      background: -moz-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(68,74,77,1) 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(68,74,77,1))); /* safari4+,chrome */
      background: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(68,74,77,1) 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(68,74,77,1) 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(68,74,77,1) 100%); /* ie10+ */
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(68,74,77,1) 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#444a4d',GradientType=0 ); /* ie6-9 */
    }

    .content{
      //position: -webkit-sticky;
      //position: sticky;
      top:10px;
      padding: 20px;


      .row{
        margin: 10px 0;

        .title{
          color: #FFFFFF;
          opacity: 0.6;
          font-size: 13px;
          cursor: pointer;
        }

        .nav-details{

          .status{
            display: inline-block;
            background-color: #606568;
            padding: 2px 8px;
            color:#fff;
            font-size: 10px;
            border-radius: 30px;
            margin: 0 5px;
          }

          .priority{
            display: inline-block;
            background-color: #ffd600;
            padding: 2px 8px;
            color:#5a4c01;
            font-size: 10px;
            border-radius: 30px;
            margin: 0 5px 0 0;
          }

          .date{
            font-size: 11px;
            color: #FFFFFF;
            opacity: 0.6;
            float: left;
            display: inline-block;
            margin-top: 5px;
          }
        }
      }

      .btn-add-ticket{
        border-radius: 20px;
        margin-left: -30px;
        &:before{
          content: $plusIcon;
          font-family: 'zarinpal';
          display: inline-block;
          vertical-align: middle;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .rounded {
        padding: 7px !important;
        margin-left: -30px;
        &:before{
          content: $plusIcon;
          font-family: 'zarinpal';
          display: inline-block;
          vertical-align: middle;
          font-size: 25px;
          cursor: pointer;
        }
      }

    }
  }

  .nav-tickets{
    padding: 0 !important;
    overflow: auto;
    height: 93vh;

    .nav-ticket-title{
      background-color: #fff;
      padding: 12px 20px;
      color: #424242;

      .top-row{
        .ticket-title{
          font-size: 13px;
        }

        .ticket-id{
          color: #2979ff;
          font-size: 12px;
          cursor: pointer;
        }
      }

      .ver-line{
        margin: 10px 20px;
        height: 1px;
        background-color: #EEEEEE;
      }

      .bottom-row{

        .title{
          font-size: 13px;
          color: #8b8b8b;
          display: inline-block;
          margin-left:4px;
        }

        .value {
          font-size: 12px;
          color: #8b8b8b;
        }

        .priority{
          background-color: #9f9f9f;
          color: #efefef;
          display: inline-block;
          border-radius: 30px;
          padding: 2px 10px;
          font-size: 10px;
          margin-top: 10px;
        }
      }
    }

    .ticket{
      color: $labelColor;

      .admin-header{
        &:before{
          content: '';
          display: inline-block;
          position: relative;
          border-left: 20px solid transparent;
          border-right: 0px solid rgba(88, 54, 54, 0);
          border-top: 20px solid #ffd600;
          right: -15px;
        }

        >.row{
          margin-top: -30px;
        }
      }

      .header{
        height: auto !important;

        .image{
          width: 40px;
          height:40px;
          display: inline-block;
          margin: 15px;


          img{
            width: 100%;
            height:100%;
            border-radius: 50%;
          }
        }

        .admin-image{
          border:3px solid #ffd600;
          border-radius: 50%;

          .zarinpal-sign{
            width: 20px;
            height: 20px;
            position: relative;
            top: -27px;
            left: 5px;
          }
        }

        .nav-ticket-status{
          font-size: 13px;
          margin:15px 0;
        }
      }

      .body{
        padding: 20px !important;

        p{
          color: #777;
          white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
          white-space: -webkit-pre-wrap; /*Chrome & Safari */
          white-space: -pre-wrap;      /* Opera 4-6 */
          white-space: -o-pre-wrap;    /* Opera 7 */
          white-space: pre-wrap;       /* css-3 */
          word-wrap: break-word;       /* Internet Explorer 5.5+ */
          word-break: break-all;
          white-space: normal;
        }
      }
    }
  }

  .nav-send{
    background-color: #fff;
    padding: 20px;
    font-size: 13px;

    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 5px;
    }
    .title{

    }

    .value{
      background-color: #f1f1f1;
      display: inline-block;
      border-radius: 30px;
      color: #424242;
      padding: 4px 11px;
      margin-right: 10px;
    }

    textarea{
      margin-top: 15px;
      width: 100%;
      font-size: 13px;
      border: none;
      min-height: 80px;
      font-family: IRANSans;
      box-shadow: none;
      resize: none;
    }

    textarea:focus{
      outline:none;
    }

    .attach {
      padding: 0 !important;
      margin-right: 10px;
      color: #fff;
      border: none;
      width: 110px;
      outline: none;

      &:before{
        content: $iconAttach;
        font-family: 'zarinpal';
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        padding: 3px;
        color: #505050;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
      }
    }

    .attach::-webkit-file-upload-button{
      visibility: hidden;
    }


  }
}

.nav-ticket-create {
  background-color: #FFFFFF;
  box-shadow: $boxShadow;
  padding: 20px;


  .right-box{
    textarea{
      width: 100%;
      margin-top: 10px;
      min-height: 160px;
    }
  }

  .left-box{

    .label{
      margin: 8px 4px;
      display: inline-block;
    }


    .nav-picker{
      padding: 4px 0 15px 0;
      direction: ltr;

      .picker {
        border-radius: 30px;
        display: inline-block;
        padding: 2px 10px;
        font-size: 13px;
        background-color: #feee98;
        color: #5a4c01;
        opacity: 0.6;
        margin:0 5px;
        cursor: pointer;
        direction: ltr;
        overflow: hidden;
      }

      .picker-active{
        background-color: #ffd600 !important;
        color: #5a4c01 !important;
        cursor: default;
      }
    }

    .nav-button {
      margin-top: 20px;
    }

  }
}

//Query Sm
@media (max-width: $smallWidth){
  .nav-ticket-list{
    width: 100%;
  }

  .hidden-sm{
    display: none !important;
  }

  .show-sm{
    display: block !important;
  }
}