// Inputs
$border-color : #cecece;
$border-color-hover : #ffd600;

// Shadow
$boxShadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.15);


// Radius
$boxBorderRadiusSize: 5px;

// Fonts
$font-color:#424242;
$font-size: 13px;
$font-weight: normal;

// BANK COLORS
$eghtesadnovin : #701e72;
$parsian : #98120f;
$karafarin : #157215;
$saman : #02aae8;
$pasargad : #f7a61a;
$sina : #17479c;
$sarmayeh : #010068;
$cutybank : #ed1b24;
$ansar : #c5000a;
$tejarat : #02006f;
$refah : #004b7f;
$saderat : #29166f;
$mellat : #e41839;
$hekmat : #004e98;
$ghardeshgari : #b20f14;
$ghavamin : #008040;
$ayandeh : #572600;
$tosesaderat : #056c11;
$sanatmadan : #37589f;
$keshavarzi : #499f06;
$maskan : #f35722;
$tosetavon : #078a93;
$postbank : #008840;
$mehr : #1e8910;
$resalat : #0f86a8;
$melli : #dc3c00;
$sepah : #ff7d00;
$zarincard : #ffb012;

//Font icon 1.5
$icon-zp-calendar: "\e908";
$icon-zp-refresh: "\e92f";
$icon-zp-qr-code: "\e94c";
$icon-zp-edit: "\e945";
$icon-zp-more-vert: "\e947";
$icon-zp-print: "\e949";
$icon-zp-remove-square: "\e91b";
$icon-zp-remove-circle: "\e93f";
$icon-zp-dashboard: "\e901";
$icon-zp-profile: "\e903";
$icon-zp-add-circle: "\e905";
$icon-zp-copouns: "\e907";
$icon-zp-arrow-left: "\e90a";
$icon-zp-arrow-up: "\e90c";
$icon-zp-sign-out: "\e90e";
$icon-zp-lock: "\e910";
$icon-zp-mail: "\e912";
$icon-zp-notification-outline: "\e914";
$icon-zp-people: "\e916";
$icon-zp-person: "\e918";
$icon-zp-cards: "\e91c";
$icon-zp-zarinpal: "\e942";
$icon-zp-web-service: "\e91e";
$icon-zp-add: "\e922";
$icon-zp-attach: "\e924";
$icon-zp-upload: "\e926";
$icon-zp-close: "\e928";
$icon-zp-delete: "\e92a";
$icon-zp-help: "\e92c";
$icon-zp-info: "\e92e";
$icon-zp-ticket: "\e934";
$icon-zp-p2p: "\e936";
$icon-zp-graph: "\e938";
$icon-zp-transaction-trend-up: "\e93b";
$icon-zp-verified: "\e93c";
$icon-zp-add-fund: "\e921";
$icon-zp-report: "\e931";
$icon-zp-menu: "\e94b";
$icon-zp-more-horiz: "\e946";
$icon-zp-mobile: "\e948";
$icon-zp-search: "\e94a";
$icon-zp-remove: "e93e";
$icon-zp-remove-circle-outline: "\e940";
$icon-zp-wallet: "\e902";
$icon-zp-add-box: "\e904";
$icon-zp-cloud: "\e906";
$icon-zp-arrow-down: "\e909";
$icon-zp-arrow-right: "\e90b";
$icon-zp-world: "\e90d";
$icon-zp-tag: "\e90f";
$icon-zp-lock-outline: "\e911";
$icon-zp-notification: "\e913";
$icon-zp-card: "\e915";
$icon-zp-add-person: "\e917";
$icon-zp-request-money: "\e900";
$icon-zp-reconciliation: "\e941";
$icon-zp-easy-pay: "\e91d";
$icon-zp-charts: "\e923";
$icon-zp-backspace: "\e925";
$icon-zp-check-circle: "\e927";
$icon-zp-copy: "\e929";
$icon-zp-error: "\e92b";
$icon-zp-home: "\e92d";
$icon-zp-new-window: "\e930";
$icon-zp-receipt: "\e935";
$icon-zp-setting: "e937";
$icon-zp-transaction-trend-down: "\e939";
$icon-zp-transaction-reconciliation: "\e943";
$icon-zp-visible: "\e93d";

//Colors and sizes
//Common
$boxBgColo: #fefefe;
$boxBorderColor:#ebeef0;
$boxShadowColor: rgba(0, 0, 0, 0.15);
$labelColor: #424242;
$labelGroupBorderColor: #eceff1;

//Home
$boxBorderColor:#ebeef0;
$closeDropDownColor: #8A8A8A;
$itemColor: #8A8A8A;
$itemIconColor: #424242;
$dropDownBorderRadius: 5px;

//Countainer
$innerContentWidth: 90%;
$innerContentMaxWidth: 1024px;
$fontName:"IRANSans";
$mobileSize:768px;
$smallWidth: 768px;
$mediumWidth: 992px;
$largeWidth: 1024px;
$animateTime: 0.4s;
$iconHoverBackground: #eee;
$goldColor: #ffd600;
$silverColor: #BDC3C7;
$sideItemColor: #8e8e8e;
$sidebarWith:250px;
$smallSidebarWidth: 60px;
$sidebarBgColor: #fff;
$sidebarFontSize: 13px;
$sidebarHoverBgColor:  #f4f4f4;
$smallSubMenuWidth: 150px;
$smallSidebarIconSize: 18px !important;
$depositColorIn: #2dcc70;
$depositColorInFrom: #22bf65;
$depositColorOut: #F44336;
$depositColorFrom: #d23532;
$depositColorP2p: #9C9C9C;
$depositColorP2pFrom: #8B8B8B;
