//Webservice Index(single webservice)
.box {

  .drop-down-item{
    &::before {
      font-family: 'zarinpal';
      color: #ff9800;
    }
  }
  .transaction-icon{
    &::before {
      content: $iconTransaction;
    }
  }

  .transaction-session-icon{
    &::before {
      content: $iconTransactionSession;
    }
  }

  .withdraw-icon{
    &::before {
      content: $iconWithdraw;
    }
  }

  .edit-icon{
    &::before {
      content: $iconEdit;
    }
  }

  .header {
    .ta-left-box{

    }
  }

  .body {
    .picker {
      font-size: 13px;
      padding: 3px 14px;
      border-radius: 16px;
      margin: 5px;
      cursor: default;
    }

    .picker-active{
      color: #5a4c01;
      background-color: #ffd600;
    }

    .picker-inactive{
      background-color: #f7e793;
    }

    span.merchant-code{
      width: 174px;
      overflow: hidden;
      height: 10px;
    }
  }

  .box-footer {
    span {
      margin: 0 15px;
    }
  }

}

//Create Webservice(and edit)
.create-webservice {

  textarea {
    width: 100% !important;
  }

  input, .selectbox{
    margin: 6px 0;
  }

  .webservice-categories{
    margin: 5px 0;
  }

  .selectbox {
    width: 100%;
    float: left;
    text-indent: 13px;
  }

  .purses{
    margin-top: 5px;
  }

  .input-group {
    .input{
      margin: 0!important;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    text-indent: 13px;
  }

  .input-icon {
    &:before {
      font-family: 'zarinpal';
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      color: #979797;
    }
  }

  @mixin webservice-input-icon($fontName) {
    &:before {
      content: $fontName;
    }
  }

  .ip-icon {
    @include webservice-input-icon($globeIcon);
  }

  .home-icon {
    @include webservice-input-icon($homeIcon);
  }

  .earth-icon{
    @include webservice-input-icon($globeIcon);
  }

  .mobile-icon{
    @include webservice-input-icon($mobileIcon);
  }

  .purse-icon{
    @include webservice-input-icon($purseIcon);
  }

  .webservice-cat-icon{
    @include webservice-input-icon($webserviceCatIcon);
  }

  .picker {
    background-color: #f4f4f4;
  }

  .webservice-logo{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 30px auto !important;
  }

  .file-zone {
    #attach {
      position: relative !important;
      top: 0 !important;
      right: -8px !important;
    }
  }
}

.categories{
  margin: 5px 0 !important;
}

//Active Zarin Gate
.read-description{
  color: #4689FF;
  display: inline-block;
  font-size: 13px;
  margin-right: 2px;
  cursor: pointer;
}

.activation-price{
    background-color: #F5F5F5;
    font-size: 13px;
    padding: 7px;
    color: #555;
    border-radius: $boxBorderRadiusSize;
    display: inline-block;
  }

.more-description{
  font-size: 13px;
  color: #777;
  //margin: 10px 0;
  //background-color: #eaeaea;
  padding: 15px;
}

//Activation ussd
.activation-ussd{
  .row{
    margin: 10px 0;
  }

  .create-description{
    font-size: 13px;
    color: $labelColor;
    text-align: right;
  }
}