//Button loading
.material-spinner {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #fff;
  }
  25% {
    stroke: #fff;
  }
  50% {
    stroke: #fff;
  }
  75% {
    stroke: #fff;
  }
  100% {
    stroke: #fff;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate3d(0, 0, 1, 135deg);
    transform: rotate3d(0, 0, 1, 135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate3d(0, 0, 1, 450deg);
    transform: rotate3d(0, 0, 1, 450deg);
  }
}

.path-colors {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, color-full 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, color-full 5.6s ease-in-out infinite;
}

@-webkit-keyframes color-full {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

//
// Loading main page
//
.loading {
  margin-top: 19%;
  .zarinpal-type {
    color: #424242;
    font-size: 30px;
    margin-top: -70px;
    font-family: 'iransans-light';
  }

  .spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #ffd600;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0)
    }
    100% {
      -webkit-transform: scale(1.4);
      opacity: 0;
    }
  }

  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
      opacity: 0;
    }
  }
}


/*** 3 dot loading***/
.three-circle-loading {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 2;
  transform: translate(50%, -50%);

  .zarinpal-type {
    color: #424242;
    font-size: 30px;
    margin-top: -70px;
    font-family: 'iransans';
  }

  .spinner {
    width: 40px;
    height: 40px;
    //margin: 100px auto;
    display: inline-block;
    background-color: #ffd600;
    visibility: hidden;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;

    &:nth-child(1n) {
      animation-delay: 0s;
    }
    &:nth-child(2n) {
      animation-delay: 0.2s;
    }
    &:nth-child(3n) {
      animation-delay: 0.4s;
    }
  }

  @-webkit-keyframes sk-scaleout {
    0% {
      visibility: visible;
      transform: scale(0)
    }
    100% {
      visibility: visible;
      transform: scale(1.4);
      opacity: 0;
    }
  }

  @keyframes sk-scaleout {
    0% {
      visibility: visible;
      transform: scale(0);
    }
    100% {
      visibility: visible;
      transform: scale(1.4);
      opacity: 0;
    }
  }
}